# Name: Thiago de Oliveira da Costa StId: 2020005

### GitHub: https://github.com/ThBrasilDaCosta/CA2-ML-Neural-Semantic

### Project: ML - Neural Networks & Semantic Analysis

##### Importing necessary start libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading CSV file:

In [2]:
bank_records = pd.read_csv('BankRecords.csv')

#### Data Understanding:

In [3]:
bank_records.shape

(5000, 14)

In [4]:
bank_records.dtypes

ID                         int64
Age                        int64
Experience(Years)          int64
Income(Thousands's)        int64
Sort Code                  int64
Family                     int64
Credit Score             float64
Education                 object
Mortgage(Thousands's)      int64
Personal Loan             object
Securities Account        object
CD Account                object
Online Banking            object
CreditCard                object
dtype: object

In [5]:
bank_records.describe()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's)
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

In [6]:
bank_records.head()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes

In [7]:
bank_records.isna().sum()

ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

In [8]:
bank_records.loc[bank_records.duplicated()]

Empty DataFrame
Columns: [ID, Age, Experience(Years), Income(Thousands's), Sort Code, Family, Credit Score, Education, Mortgage(Thousands's), Personal Loan, Securities Account, CD Account, Online Banking, CreditCard]
Index: []

In [9]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands's)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

#### Data Transformation / Feature Engineering:

In [10]:
bank_records = bank_records.rename(columns={"Income(Thousands's)": "Income(Thousands)", "Mortgage(Thousands's)":"Mortgage(Thousands)"})

In [11]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

In [12]:
bank_records = bank_records.drop(['ID', 'Sort Code',
       'Family', 'Credit Score','Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'], axis = 1).copy()

In [13]:
bank_records

      Age  Experience(Years)  Income(Thousands) Education
0      25                  1                 49   Diploma
1      45                 19                 34   Diploma
2      39                 15                 11   Diploma
3      35                  9                100    Degree
4      35                  8                 45    Degree
...   ...                ...                ...       ...
4995   29                  3                 40   Masters
4996   30                  4                 15   Diploma
4997   63                 39                 24   Masters
4998   65                 40                 49    Degree
4999   28                  4                 83   Diploma

[5000 rows x 4 columns]

In [14]:
bank_records['Education'].unique()

array(['Diploma', 'Degree', 'Masters'], dtype=object)

In [15]:
oe = ['Diploma', 'Degree', 'Masters']

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oenc = OrdinalEncoder(categories = [oe])

In [18]:
bank_records['Education'] = oenc.fit_transform(bank_records[['Education']])

In [19]:
bank_records

      Age  Experience(Years)  Income(Thousands)  Education
0      25                  1                 49        0.0
1      45                 19                 34        0.0
2      39                 15                 11        0.0
3      35                  9                100        1.0
4      35                  8                 45        1.0
...   ...                ...                ...        ...
4995   29                  3                 40        2.0
4996   30                  4                 15        0.0
4997   63                 39                 24        2.0
4998   65                 40                 49        1.0
4999   28                  4                 83        0.0

[5000 rows x 4 columns]

In [20]:
bank_records['Age'].unique()

array([25, 45, 39, 35, 37, 53, 50, 34, 65, 29, 48, 59, 67, 60, 38, 42, 46,
       55, 56, 57, 44, 36, 43, 40, 30, 31, 51, 32, 61, 41, 28, 49, 47, 62,
       58, 54, 33, 27, 66, 24, 52, 26, 64, 63, 23], dtype=int64)

In [21]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, -1, 34,  0, 38, 40, 33,  4, -2, 42, -3, 43], dtype=int64)

In [22]:
bank_records['Experience(Years)'] = bank_records['Experience(Years)'].abs()

In [23]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, 34,  0, 38, 40, 33,  4, 42, 43], dtype=int64)

In [24]:
bank_records['Income(Thousands)'].unique()

array([ 49,  34,  11, 100,  45,  29,  72,  22,  81, 180, 105, 114,  40,
       112, 130, 193,  21,  25,  63,  62,  43, 152,  83, 158,  48, 119,
        35,  41,  18,  50, 121,  71, 141,  80,  84,  60, 132, 104,  52,
       194,   8, 131, 190,  44, 139,  93, 188,  39, 125,  32,  20, 115,
        69,  85, 135,  12, 133,  19,  82, 109,  42,  78,  51, 113, 118,
        64, 161,  94,  15,  74,  30,  38,   9,  92,  61,  73,  70, 149,
        98, 128,  31,  58,  54, 124, 163,  24,  79, 134,  23,  13, 138,
       171, 168,  65,  10, 148, 159, 169, 144, 165,  59,  68,  91, 172,
        55, 155,  53,  89,  28,  75, 170, 120,  99, 111,  33, 129, 122,
       150, 195, 110, 101, 191, 140, 153, 173, 174,  90, 179, 145, 200,
       183, 182,  88, 160, 205, 164,  14, 175, 103, 108, 185, 204, 154,
       102, 192, 202, 162, 142,  95, 184, 181, 143, 123, 178, 198, 201,
       203, 189, 151, 199, 224, 218], dtype=int64)

In [25]:
bank_records['Education'].unique()

array([0., 1., 2.])

#### Splitting Dataset / Modelling:

##### Splitting:

In [26]:
indpt_feat = bank_records.drop('Income(Thousands)', axis = 'columns')
dpt_feat = bank_records['Income(Thousands)']

X = indpt_feat
y = dpt_feat

In [27]:
X

      Age  Experience(Years)  Education
0      25                  1        0.0
1      45                 19        0.0
2      39                 15        0.0
3      35                  9        1.0
4      35                  8        1.0
...   ...                ...        ...
4995   29                  3        2.0
4996   30                  4        0.0
4997   63                 39        2.0
4998   65                 40        1.0
4999   28                  4        0.0

[5000 rows x 3 columns]

In [28]:
y

0        49
1        34
2        11
3       100
4        45
       ...
4995     40
4996     15
4997     24
4998     49
4999     83
Name: Income(Thousands), Length: 5000, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=17, test_size=0.2)

In [31]:
X_train.shape

(4000, 3)

In [32]:
X_test.shape

(1000, 3)

In [33]:
y_train.shape

(4000,)

In [34]:
y_test.shape

(1000,)

##### Modelling:

###### Scalling:

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
#  scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

In [37]:
# X_train = X_train_scaled
# X_test = X_test_scaled

In [38]:
X_train

      Age  Experience(Years)  Education
1926   30                  6        1.0
805    55                 29        1.0
1674   37                 11        1.0
81     47                 22        1.0
2266   38                 13        0.0
...   ...                ...        ...
2800   52                 26        1.0
1337   26                  0        1.0
406    45                 19        0.0
2191   42                 18        0.0
2671   62                 37        0.0

[4000 rows x 3 columns]

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [40]:
model = Sequential()
model.add(Dense(64, activation= 'relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation= 'relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])

early_stopping = EarlyStopping(patience=5)

model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=32, verbose=2, callbacks = [early_stopping])

Epoch 1/100

C:\Users\thiag\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

100/100 - 2s - 15ms/step - accuracy: 0.0000e+00 - loss: 3851.3418 - mae: 47.1951 - val_accuracy: 0.0000e+00 - val_loss: 2472.4338 - val_mae: 38.7009
Epoch 2/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2612.2764 - mae: 40.2293 - val_accuracy: 0.0000e+00 - val_loss: 2326.7485 - val_mae: 37.9261
Epoch 3/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2443.0142 - mae: 39.1119 - val_accuracy: 0.0000e+00 - val_loss: 2167.6313 - val_mae: 36.8277
Epoch 4/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2301.3162 - mae: 38.3194 - val_accuracy: 0.0000e+00 - val_loss: 2063.8311 - val_mae: 36.1510
Epoch 5/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2212.5303 - mae: 37.7134 - val_accuracy: 0.0000e+00 - val_loss: 2043.4257 - val_mae: 36.6260
Epoch 6/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2179.0503 - mae: 37.6179 - val_accuracy: 0.0000e+00 - val_loss: 2000.7113 - val_mae: 35.6240
Epoch 7/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2151.5745 - mae: 37.3341 - val_accuracy: 0.0000e+00 - val_loss: 1992.8773 - val_mae: 35.6414
Epoch 8/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2139.0593 - mae: 37.3011 - val_accuracy: 0.0000e+00 - val_loss: 1988.3278 - val_mae: 35.6973
Epoch 9/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2136.0835 - mae: 37.2946 - val_accuracy: 0.0000e+00 - val_loss: 1983.2137 - val_mae: 35.7118
Epoch 10/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2128.4490 - mae: 37.1793 - val_accuracy: 0.0000e+00 - val_loss: 1984.4967 - val_mae: 35.9164
Epoch 11/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2116.3667 - mae: 37.1322 - val_accuracy: 0.0000e+00 - val_loss: 1974.5839 - val_mae: 35.5826
Epoch 12/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2129.1094 - mae: 37.1647 - val_accuracy: 0.0000e+00 - val_loss: 1969.1246 - val_mae: 35.4936
Epoch 13/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2117.4685 - mae: 37.1155 - val_accuracy: 0.0000e+00 - val_loss: 1982.0408 - val_mae: 35.9994
Epoch 14/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2106.9729 - mae: 36.9439 - val_accuracy: 0.0000e+00 - val_loss: 2024.9059 - val_mae: 36.9418
Epoch 15/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2106.3469 - mae: 37.0215 - val_accuracy: 0.0000e+00 - val_loss: 1983.9709 - val_mae: 36.1112
Epoch 16/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2105.7969 - mae: 37.0765 - val_accuracy: 0.0000e+00 - val_loss: 1966.6010 - val_mae: 35.6250
Epoch 17/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2099.6047 - mae: 36.9101 - val_accuracy: 0.0000e+00 - val_loss: 1962.1586 - val_mae: 35.3881
Epoch 18/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2106.5315 - mae: 36.9603 - val_accuracy: 0.0000e+00 - val_loss: 1973.7954 - val_mae: 35.8762
Epoch 19/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2101.3071 - mae: 36.9630 - val_accuracy: 0.0000e+00 - val_loss: 1966.2186 - val_mae: 35.6746
Epoch 20/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2099.5813 - mae: 36.9251 - val_accuracy: 0.0000e+00 - val_loss: 1969.0474 - val_mae: 35.7007
Epoch 21/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2101.8547 - mae: 36.9279 - val_accuracy: 0.0000e+00 - val_loss: 1961.6060 - val_mae: 35.4590
Epoch 22/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2098.4849 - mae: 36.9058 - val_accuracy: 0.0000e+00 - val_loss: 1959.6692 - val_mae: 35.2428
Epoch 23/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2099.8435 - mae: 36.9590 - val_accuracy: 0.0000e+00 - val_loss: 1961.7024 - val_mae: 35.2056
Epoch 24/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2093.7373 - mae: 36.8390 - val_accuracy: 0.0000e+00 - val_loss: 1960.1323 - val_mae: 35.2077
Epoch 25/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2096.7246 - mae: 36.9836 - val_accuracy: 0.0000e+00 - val_loss: 1972.4133 - val_mae: 35.0051
Epoch 26/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2089.7949 - mae: 36.7866 - val_accuracy: 0.0000e+00 - val_loss: 1969.1796 - val_mae: 35.0441
Epoch 27/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2096.7041 - mae: 36.8370 - val_accuracy: 0.0000e+00 - val_loss: 1962.0863 - val_mae: 35.1044

In [41]:

input_feat = np.array([[30, 5, 2.0]])
predicted_income = model.predict(input_feat.reshape(1,3), batch_size=1)
print(predicted_income)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step
[[61.311546]]

In [42]:
y_pred = model.predict(X_test)*1000

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [43]:
y_pred

array([[53869.793],
       [66669.66 ],
       [60647.25 ],
       [57500.51 ],
       [87055.45 ],
       [88431.56 ],
       [80309.06 ],
       [66669.66 ],
       [59151.684],
       [56140.05 ],
       [71757.15 ],
       [69446.23 ],
       [69173.43 ],
       [57500.51 ],
       [62007.793],
       [56078.8  ],
       [72565.54 ],
       [63469.65 ],
       [72939.42 ],
       [78621.59 ],
       [64577.875],
       [68309.76 ],
       [69997.23 ],
       [65783.266],
       [62176.207],
       [69446.23 ],
       [72304.48 ],
       [58007.88 ],
       [61999.605],
       [80309.06 ],
       [75670.19 ],
       [72939.42 ],
       [64269.324],
       [73927.77 ],
       [65440.03 ],
       [67724.61 ],
       [66002.51 ],
       [64826.95 ],
       [69538.63 ],
       [52590.973],
       [86525.45 ],
       [70654.914],
       [59446.113],
       [73353.13 ],
       [80165.695],
       [74458.74 ],
       [76335.984],
       [58382.72 ],
       [70998.94 ],
       [82750.5  ],
       [75378.39 ],
       [72565.54 ],
       [74271.805],
       [75694.57 ],
       [57924.9  ],
       [58460.047],
       [80853.76 ],
       [78101.53 ],
       [72304.48 ],
       [69223.8  ],
       [64020.242],
       [70822.34 ],
       [60904.812],
       [89463.29 ],
       [59922.836],
       [59151.684],
       [71179.51 ],
       [57618.203],
       [60967.52 ],
       [55772.105],
       [56140.05 ],
       [74064.39 ],
       [88775.59 ],
       [57924.9  ],
       [61655.58 ],
       [69507.195],
       [63552.324],
       [75809.16 ],
       [60873.504],
       [59151.684],
       [57769.76 ],
       [61846.996],
       [86859.08 ],
       [66687.59 ],
       [64020.242],
       [61846.996],
       [63469.65 ],
       [76856.61 ],
       [82573.9  ],
       [69897.85 ],
       [57618.203],
       [65616.5  ],
       [55180.37 ],
       [71194.664],
       [56657.95 ],
       [61347.78 ],
       [83254.016],
       [76819.55 ],
       [74095.21 ],
       [81885.85 ],
       [71122.2  ],
       [60501.848],
       [58224.92 ],
       [86023.37 ],
       [64240.387],
       [58726.742],
       [54053.477],
       [66275.78 ],
       [86190.78 ],
       [88087.54 ],
       [80509.73 ],
       [77544.664],
       [61809.145],
       [75303.89 ],
       [84126.62 ],
       [70216.414],
       [72628.73 ],
       [58460.047],
       [74615.83 ],
       [76819.55 ],
       [56841.637],
       [59935.438],
       [74569.586],
       [62343.637],
       [62343.637],
       [59410.79 ],
       [70661.74 ],
       [66340.914],
       [66537.06 ],
       [58700.26 ],
       [65798.35 ],
       [53312.617],
       [82559.02 ],
       [69997.23 ],
       [69897.85 ],
       [61597.91 ],
       [75132.08 ],
       [74271.805],
       [78621.59 ],
       [84470.65 ],
       [61122.58 ],
       [56078.8  ],
       [68199.94 ],
       [54353.77 ],
       [72565.54 ],
       [66537.06 ],
       [59935.438],
       [56385.496],
       [60647.25 ],
       [64584.41 ],
       [58538.29 ],
       [63881.414],
       [68324.52 ],
       [76257.06 ],
       [83959.19 ],
       [63896.355],
       [60398.168],
       [59673.75 ],
       [66287.305],
       [63544.906],
       [56318.543],
       [80871.555],
       [58949.34 ],
       [69603.03 ],
       [73927.77 ],
       [64993.73 ],
       [58630.344],
       [53869.793],
       [63552.324],
       [72115.77 ],
       [78001.81 ],
       [67249.27 ],
       [76876.84 ],
       [63544.902],
       [57966.938],
       [60398.168],
       [65902.19 ],
       [73063.11 ],
       [70146.94 ],
       [56078.8  ],
       [79039.49 ],
       [66034.21 ],
       [78445.555],
       [89119.625],
       [77359.89 ],
       [87399.48 ],
       [87055.45 ],
       [68449.02 ],
       [86190.78 ],
       [78564.3  ],
       [69538.63 ],
       [84126.62 ],
       [81030.37 ],
       [80165.695],
       [68070.12 ],
       [58224.92 ],
       [70310.88 ],
       [63544.902],
       [74569.586],
       [75647.92 ],
       [78059.11 ],
       [66669.66 ],
       [55772.105],
       [78920.77 ],
       [69173.43 ],
       [73407.15 ],
       [52392.527],
       [70134.28 ],
       [77359.89 ],
       [65902.19 ],
       [70723.01 ],
       [75132.08 ],
       [77368.055],
       [62571.41 ],
       [76934.125],
       [68872.25 ],
       [87399.48 ],
       [61115.23 ],
       [63129.04 ],
       [67724.61 ],
       [58007.88 ],
       [82917.93 ],
       [81996.53 ],
       [62404.62 ],
       [60620.85 ],
       [87743.5  ],
       [58630.344],
       [71354.07 ],
       [68872.25 ],
       [59198.42 ],
       [64928.445],
       [60904.82 ],
       [83921.25 ],
       [65272.47 ],
       [66537.06 ],
       [80509.73 ],
       [55078.188],
       [71687.   ],
       [70654.914],
       [55617.926],
       [81197.79 ],
       [73583.74 ],
       [80251.77 ],
       [69538.63 ],
       [63261.516],
       [75132.08 ],
       [84470.65 ],
       [87743.5  ],
       [62343.637],
       [55110.94 ],
       [82229.875],
       [58700.26 ],
       [67747.266],
       [72319.64 ],
       [64826.957],
       [72719.086],
       [55078.188],
       [70069.69 ],
       [76371.64 ],
       [85846.766],
       [84126.62 ],
       [67000.19 ],
       [75809.16 ],
       [56657.95 ],
       [77757.5  ],
       [57152.043],
       [67724.61 ],
       [78101.53 ],
       [61311.55 ],
       [61809.145],
       [76680.01 ],
       [71179.51 ],
       [83782.59 ],
       [89119.625],
       [55617.926],
       [63208.293],
       [59591.402],
       [87399.48 ],
       [79126.79 ],
       [62007.793],
       [79133.61 ],
       [74626.89 ],
       [58903.344],
       [83094.53 ],
       [69422.52 ],
       [87743.5  ],
       [67724.61 ],
       [82406.48 ],
       [58949.34 ],
       [80979.94 ],
       [58844.98 ],
       [55180.37 ],
       [60808.535],
       [81885.85 ],
       [81718.414],
       [75694.57 ],
       [63881.414],
       [84647.25 ],
       [86711.414],
       [65272.47 ],
       [77024.03 ],
       [58007.88 ],
       [53005.918],
       [69603.03 ],
       [66669.66 ],
       [76335.984],
       [84303.22 ],
       [62520.23 ],
       [66026.7  ],
       [82062.445],
       [61809.145],
       [58007.88 ],
       [61356.98 ],
       [68309.76 ],
       [69507.195],
       [72628.73 ],
       [69538.63 ],
       [76934.125],
       [77708.49 ],
       [70134.28 ],
       [62820.492],
       [64020.242],
       [58231.594],
       [68680.19 ],
       [56527.008],
       [66026.7  ],
       [58231.594],
       [81030.37 ],
       [60904.82 ],
       [58700.26 ],
       [55772.105],
       [61115.23 ],
       [82559.02 ],
       [77368.055],
       [67382.05 ],
       [75089.8  ],
       [60904.82 ],
       [64315.047],
       [58164.117],
       [56657.95 ],
       [77359.89 ],
       [74770.664],
       [82406.48 ],
       [58844.98 ],
       [67726.08 ],
       [77331.836],
       [70134.28 ],
       [54353.77 ],
       [81885.85 ],
       [75132.08 ],
       [72304.48 ],
       [60808.535],
       [80309.06 ],
       [57251.426],
       [67726.08 ],
       [63574.723],
       [66002.51 ],
       [63896.355],
       [59651.027],
       [80640.92 ],
       [74615.83 ],
       [59151.684],
       [54053.477],
       [60149.086],
       [86367.39 ],
       [74474.06 ],
       [60620.85 ],
       [66537.06 ],
       [57152.043],
       [87743.5  ],
       [74692.92 ],
       [69296.336],
       [73501.91 ],
       [71136.06 ],
       [60904.82 ],
       [63469.65 ],
       [79184.09 ],
       [55974.516],
       [71757.15 ],
       [69446.23 ],
       [68228.03 ],
       [73444.62 ],
       [76257.055],
       [68173.45 ],
       [79133.61 ],
       [61356.98 ],
       [78042.12 ],
       [82917.93 ],
       [63544.902],
       [66669.66 ],
       [73196.59 ],
       [77359.89 ],
       [77024.03 ],
       [66565.   ],
       [67038.02 ],
       [52699.223],
       [75751.86 ],
       [78101.53 ],
       [65551.37 ],
       [61115.23 ],
       [66275.78 ],
       [75809.16 ],
       [57618.203],
       [72565.54 ],
       [85502.74 ],
       [70310.88 ],
       [69296.336],
       [71136.06 ],
       [78789.58 ],
       [62682.234],
       [57694.664],
       [77359.89 ],
       [79746.58 ],
       [76257.06 ],
       [71354.07 ],
       [61356.98 ],
       [84814.67 ],
       [71757.15 ],
       [63129.04 ],
       [78621.59 ],
       [84303.22 ],
       [77496.62 ],
       [74569.586],
       [66751.12 ],
       [80309.06 ],
       [78059.11 ],
       [82917.93 ],
       [77757.5  ],
       [66011.22 ],
       [61122.58 ],
       [85158.7  ],
       [83782.59 ],
       [65798.35 ],
       [86190.78 ],
       [74692.92 ],
       [82559.02 ],
       [74474.06 ],
       [69507.195],
       [57618.203],
       [83587.63 ],
       [58038.69 ],
       [81718.414],
       [60149.086],
       [59922.836],
       [67475.52 ],
       [81885.85 ],
       [75132.08 ],
       [63881.42 ],
       [88775.59 ],
       [71136.06 ],
       [58700.26 ],
       [54875.566],
       [76512.586],
       [65783.266],
       [76819.55 ],
       [85158.7  ],
       [69296.336],
       [77757.5  ],
       [73063.11 ],
       [60873.504],
       [66340.914],
       [78375.734],
       [72628.73 ],
       [74458.74 ],
       [84126.62 ],
       [65302.277],
       [79039.49 ],
       [58224.92 ],
       [84814.67 ],
       [86525.45 ],
       [61371.664],
       [83605.93 ],
       [67726.08 ],
       [60501.848],
       [73501.91 ],
       [59591.402],
       [52699.223],
       [58700.26 ],
       [73927.78 ],
       [77496.62 ],
       [83587.63 ],
       [59424.67 ],
       [62007.793],
       [63208.293],
       [56657.95 ],
       [72376.94 ],
       [73583.74 ],
       [68493.7  ],
       [76819.55 ],
       [76934.125],
       [78232.72 ],
       [76299.74 ],
       [72565.54 ],
       [72939.42 ],
       [59922.836],
       [73407.15 ],
       [84126.62 ],
       [65953.69 ],
       [75089.8  ],
       [79184.09 ],
       [74684.19 ],
       [83094.53 ],
       [83782.59 ],
       [76934.125],
       [81434.04 ],
       [76932.33 ],
       [72376.94 ],
       [68309.76 ],
       [68521.695],
       [74458.74 ],
       [75189.375],
       [78101.53 ],
       [64315.047],
       [67973.695],
       [72895.69 ],
       [65902.19 ],
       [77439.33 ],
       [63295.824],
       [64993.73 ],
       [60398.168],
       [68070.12 ],
       [58538.29 ],
       [61311.55 ],
       [58460.047],
       [83605.93 ],
       [74235.56 ],
       [64877.53 ],
       [57006.6  ],
       [74458.74 ],
       [81996.52 ],
       [78363.91 ],
       [58630.344],
       [74007.1  ],
       [81374.39 ],
       [79821.67 ],
       [73827.664],
       [68758.164],
       [84126.62 ],
       [72319.64 ],
       [56385.496],
       [56078.8  ],
       [54875.566],
       [54286.855],
       [72376.94 ],
       [66011.22 ],
       [70310.88 ],
       [71122.2  ],
       [59673.75 ],
       [66034.21 ],
       [59247.383],
       [63695.26 ],
       [63574.723],
       [73196.59 ],
       [73927.77 ],
       [81434.04 ],
       [73196.59 ],
       [53619.31 ],
       [56657.95 ],
       [63881.414],
       [52196.62 ],
       [70091.945],
       [77496.62 ],
       [86525.45 ],
       [62322.324],
       [83121.51 ],
       [68199.94 ],
       [63157.688],
       [63544.902],
       [57500.51 ],
       [78059.11 ],
       [68070.12 ],
       [72319.64 ],
       [73444.62 ],
       [70632.17 ],
       [71179.5  ],
       [75378.39 ],
       [72031.04 ],
       [89119.625],
       [53649.766],
       [61809.145],
       [55974.516],
       [63268.023],
       [56318.543],
       [56657.95 ],
       [71354.07 ],
       [72882.125],
       [78789.58 ],
       [87192.695],
       [70091.945],
       [64877.53 ],
       [65551.37 ],
       [79821.67 ],
       [66275.78 ],
       [71832.836],
       [60017.23 ],
       [73583.74 ],
       [69790.25 ],
       [57006.6  ],
       [79689.29 ],
       [84303.22 ],
       [53649.766],
       [84814.67 ],
       [80251.77 ],
       [74474.06 ],
       [88431.56 ],
       [66687.59 ],
       [74692.93 ],
       [58231.594],
       [62682.234],
       [63208.293],
       [88087.54 ],
       [75303.89 ],
       [80309.06 ],
       [56776.105],
       [55110.94 ],
       [70654.914],
       [70216.414],
       [63544.902],
       [69966.86 ],
       [81374.39 ],
       [83959.19 ],
       [58460.047],
       [53649.766],
       [62404.62 ],
       [68228.03 ],
       [57006.6  ],
       [82229.875],
       [77708.49 ],
       [58903.344],
       [78621.59 ],
       [62322.324],
       [63469.65 ],
       [73827.664],
       [74271.805],
       [58231.594],
       [72376.94 ],
       [83587.63 ],
       [69538.63 ],
       [67726.08 ],
       [57924.895],
       [87055.45 ],
       [73429.45 ],
       [56385.496],
       [84647.25 ],
       [84814.67 ],
       [68324.52 ],
       [79608.84 ],
       [56527.008],
       [62820.492],
       [63544.902],
       [64584.41 ],
       [76934.125],
       [74959.86 ],
       [74923.63 ],
       [61115.23 ],
       [74684.19 ],
       [78621.59 ],
       [73827.664],
       [78001.81 ],
       [69790.25 ],
       [66287.305],
       [70632.17 ],
       [69102.2  ],
       [54875.566],
       [55158.71 ],
       [55078.188],
       [66340.914],
       [82229.875],
       [72115.77 ],
       [58700.26 ],
       [77757.51 ],
       [64928.445],
       [72939.42 ],
       [68227.766],
       [77044.74 ],
       [74064.39 ],
       [72565.54 ],
       [82573.9  ],
       [66565.   ],
       [74458.74 ],
       [55772.105],
       [76934.125],
       [71757.15 ],
       [79184.09 ],
       [70632.17 ],
       [74615.83 ],
       [54983.188],
       [83094.53 ],
       [59591.402],
       [83121.51 ],
       [66026.7  ],
       [87399.48 ],
       [78564.3  ],
       [72719.086],
       [57006.6  ],
       [79608.84 ],
       [60808.535],
       [79184.09 ],
       [68199.94 ],
       [58949.34 ],
       [56841.637],
       [75246.67 ],
       [75104.28 ],
       [62820.496],
       [80640.92 ],
       [69538.63 ],
       [60452.652],
       [81313.56 ],
       [70632.17 ],
       [83438.57 ],
       [82573.9  ],
       [74959.86 ],
       [79821.67 ],
       [74007.1  ],
       [59744.41 ],
       [74615.83 ],
       [60958.805],
       [67689.98 ],
       [66002.51 ],
       [60501.848],
       [72376.94 ],
       [73353.13 ],
       [72115.77 ],
       [54658.78 ],
       [68924.35 ],
       [78564.3  ],
       [57350.63 ],
       [76934.125],
       [73501.91 ],
       [68414.14 ],
       [61809.145],
       [72029.29 ],
       [68449.02 ],
       [76257.06 ],
       [77496.62 ],
       [58164.113],
       [75378.39 ],
       [55158.71 ],
       [75647.92 ],
       [62096.082],
       [82750.5  ],
       [57966.938],
       [84647.25 ],
       [59935.438],
       [66687.59 ],
       [67249.27 ],
       [57500.51 ],
       [84814.67 ],
       [71757.15 ],
       [83959.19 ],
       [64584.41 ],
       [75132.08 ],
       [62404.62 ],
       [53312.617],
       [69909.73 ],
       [61356.98 ],
       [63469.65 ],
       [61115.23 ],
       [70146.94 ],
       [69507.195],
       [72565.54 ],
       [84470.65 ],
       [53619.31 ],
       [78101.53 ],
       [54286.855],
       [65302.277],
       [76856.61 ],
       [74569.59 ],
       [61809.145],
       [74684.19 ],
       [84470.65 ],
       [79689.29 ],
       [77359.89 ],
       [82406.48 ],
       [72866.96 ],
       [74007.1  ],
       [67726.08 ],
       [64584.41 ],
       [76934.125],
       [68680.19 ],
       [72882.125],
       [85335.3  ],
       [67973.695],
       [56776.105],
       [82917.93 ],
       [77024.03 ],
       [77496.62 ],
       [82559.02 ],
       [75955.72 ],
       [57572.586],
       [68070.12 ],
       [64315.047],
       [57500.51 ],
       [66565.   ],
       [61356.98 ],
       [70632.17 ],
       [56140.05 ],
       [52196.62 ],
       [83782.59 ],
       [58630.34 ],
       [82406.48 ],
       [83094.53 ],
       [78101.53 ],
       [57350.63 ],
       [75647.92 ],
       [61999.605],
       [75991.945],
       [78789.58 ],
       [73407.15 ],
       [66669.66 ],
       [72319.64 ],
       [61597.91 ],
       [82559.02 ],
       [76934.125],
       [77359.89 ],
       [76257.06 ],
       [66687.59 ],
       [81374.39 ],
       [55563.11 ],
       [61371.664],
       [86367.39 ],
       [63896.355],
       [53869.793],
       [78789.58 ],
       [68228.03 ],
       [64877.53 ],
       [59247.383],
       [78059.11 ],
       [83605.93 ],
       [72304.48 ],
       [62176.203],
       [62570.28 ],
       [81434.04 ],
       [81996.52 ],
       [52590.973],
       [66011.22 ],
       [82406.48 ],
       [79133.61 ],
       [80309.06 ],
       [68227.766],
       [55465.406],
       [74926.23 ],
       [74770.664],
       [84470.65 ],
       [86023.37 ],
       [59922.836],
       [58007.88 ],
       [66275.78 ],
       [75694.57 ],
       [57769.76 ],
       [69223.8  ],
       [68199.94 ],
       [81718.414],
       [52699.223],
       [53312.617],
       [70216.414],
       [72376.94 ],
       [75303.89 ],
       [66275.78 ],
       [54983.188],
       [71165.586],
       [64820.242],
       [73407.15 ],
       [69223.8  ],
       [77757.5  ],
       [78621.59 ],
       [74569.586],
       [57694.664],
       [60398.168],
       [86190.78 ],
       [53869.793],
       [82559.02 ],
       [78564.3  ],
       [67747.266],
       [68758.164],
       [57769.76 ],
       [64584.41 ],
       [58231.594],
       [70632.17 ],
       [71757.15 ],
       [83605.93 ],
       [72319.64 ],
       [59410.79 ],
       [56385.496],
       [77757.5  ],
       [59935.438],
       [83782.59 ],
       [55078.188],
       [66235.43 ],
       [53619.31 ],
       [56657.95 ],
       [59070.777],
       [60017.23 ],
       [57350.63 ],
       [55772.105],
       [81197.78 ],
       [62176.207],
       [70632.17 ],
       [71354.07 ],
       [61311.55 ],
       [74007.1  ],
       [70822.34 ],
       [71985.14 ],
       [80309.06 ],
       [80853.76 ],
       [58164.117],
       [73407.15 ],
       [57555.723],
       [69102.2  ],
       [69422.52 ],
       [54983.188],
       [84303.22 ],
       [83587.63 ],
       [77496.62 ],
       [69507.195],
       [66751.12 ],
       [70069.69 ],
       [70661.74 ],
       [83121.51 ],
       [74579.59 ],
       [65616.5  ],
       [76335.984],
       [76512.586],
       [75378.39 ],
       [76371.64 ],
       [80165.695],
       [83438.555],
       [84303.22 ],
       [68414.14 ],
       [60904.82 ],
       [82229.875],
       [69538.63 ],
       [60501.848],
       [74926.23 ],
       [79184.09 ],
       [78101.53 ],
       [64240.387],
       [56527.008],
       [83782.59 ],
       [69538.63 ],
       [78445.555],
       [63695.26 ],
       [73407.15 ],
       [59198.42 ],
       [78920.77 ],
       [83438.57 ],
       [68309.76 ],
       [73927.77 ],
       [83438.57 ],
       [60623.492],
       [86525.45 ],
       [77439.33 ],
       [59935.438],
       [85846.766],
       [67000.19 ],
       [58460.047],
       [84470.65 ],
       [77757.5  ],
       [74064.39 ],
       [66235.42 ],
       [72882.125],
       [84647.25 ],
       [68698.1  ],
       [77888.695],
       [59151.684],
       [68872.25 ],
       [59935.438],
       [84814.67 ],
       [78001.81 ],
       [78705.875],
       [70069.69 ],
       [75694.57 ],
       [69997.23 ],
       [67249.27 ],
       [76876.84 ],
       [66034.21 ],
       [74926.23 ],
       [62176.207],
       [66002.51 ],
       [70216.414],
       [57350.63 ],
       [66340.914],
       [68698.1  ],
       [58164.117],
       [60808.535],
       [70091.945],
       [61680.21 ],
       [58726.742],
       [77368.055],
       [72115.77 ],
       [74458.734],
       [89463.29 ],
       [65616.5  ],
       [75694.57 ],
       [75303.89 ],
       [82917.93 ],
       [64315.047],
       [79477.65 ],
       [89119.625],