# Name: Thiago de Oliveira da Costa StId: 2020005

### GitHub: https://github.com/ThBrasilDaCosta/CA2-ML-Neural-Semantic

### Project: ML - Neural Networks & Semantic Analysis

##### Importing necessary start libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading CSV file:

In [2]:
bank_records = pd.read_csv('BankRecords.csv')

#### Data Understanding:

In [3]:
bank_records.shape

(5000, 14)

In [4]:
bank_records.dtypes

ID                         int64
Age                        int64
Experience(Years)          int64
Income(Thousands's)        int64
Sort Code                  int64
Family                     int64
Credit Score             float64
Education                 object
Mortgage(Thousands's)      int64
Personal Loan             object
Securities Account        object
CD Account                object
Online Banking            object
CreditCard                object
dtype: object

In [5]:
bank_records.describe()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's)
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

In [6]:
bank_records.head()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes

In [7]:
bank_records.isna().sum()

ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

In [8]:
bank_records.loc[bank_records.duplicated()]

Empty DataFrame
Columns: [ID, Age, Experience(Years), Income(Thousands's), Sort Code, Family, Credit Score, Education, Mortgage(Thousands's), Personal Loan, Securities Account, CD Account, Online Banking, CreditCard]
Index: []

In [9]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands's)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

#### Data Transformation / Feature Engineering:

In [10]:
bank_records = bank_records.rename(columns={"Income(Thousands's)": "Income(Thousands)", "Mortgage(Thousands's)":"Mortgage(Thousands)"})

In [11]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

In [12]:
bank_records = bank_records.drop(['ID', 'Sort Code',
       'Family', 'Credit Score','Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'], axis = 1).copy()

In [13]:
bank_records

      Age  Experience(Years)  Income(Thousands) Education
0      25                  1                 49   Diploma
1      45                 19                 34   Diploma
2      39                 15                 11   Diploma
3      35                  9                100    Degree
4      35                  8                 45    Degree
...   ...                ...                ...       ...
4995   29                  3                 40   Masters
4996   30                  4                 15   Diploma
4997   63                 39                 24   Masters
4998   65                 40                 49    Degree
4999   28                  4                 83   Diploma

[5000 rows x 4 columns]

In [14]:
bank_records['Education'].unique()

array(['Diploma', 'Degree', 'Masters'], dtype=object)

In [15]:
oe = ['Diploma', 'Degree', 'Masters']

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oenc = OrdinalEncoder(categories = [oe])

In [18]:
bank_records['Education'] = oenc.fit_transform(bank_records[['Education']])

In [19]:
bank_records

      Age  Experience(Years)  Income(Thousands)  Education
0      25                  1                 49        0.0
1      45                 19                 34        0.0
2      39                 15                 11        0.0
3      35                  9                100        1.0
4      35                  8                 45        1.0
...   ...                ...                ...        ...
4995   29                  3                 40        2.0
4996   30                  4                 15        0.0
4997   63                 39                 24        2.0
4998   65                 40                 49        1.0
4999   28                  4                 83        0.0

[5000 rows x 4 columns]

In [20]:
bank_records['Age'].unique()

array([25, 45, 39, 35, 37, 53, 50, 34, 65, 29, 48, 59, 67, 60, 38, 42, 46,
       55, 56, 57, 44, 36, 43, 40, 30, 31, 51, 32, 61, 41, 28, 49, 47, 62,
       58, 54, 33, 27, 66, 24, 52, 26, 64, 63, 23], dtype=int64)

In [21]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, -1, 34,  0, 38, 40, 33,  4, -2, 42, -3, 43], dtype=int64)

In [22]:
bank_records['Experience(Years)'] = bank_records['Experience(Years)'].abs()

In [23]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, 34,  0, 38, 40, 33,  4, 42, 43], dtype=int64)

In [24]:
bank_records['Income(Thousands)'].unique()

array([ 49,  34,  11, 100,  45,  29,  72,  22,  81, 180, 105, 114,  40,
       112, 130, 193,  21,  25,  63,  62,  43, 152,  83, 158,  48, 119,
        35,  41,  18,  50, 121,  71, 141,  80,  84,  60, 132, 104,  52,
       194,   8, 131, 190,  44, 139,  93, 188,  39, 125,  32,  20, 115,
        69,  85, 135,  12, 133,  19,  82, 109,  42,  78,  51, 113, 118,
        64, 161,  94,  15,  74,  30,  38,   9,  92,  61,  73,  70, 149,
        98, 128,  31,  58,  54, 124, 163,  24,  79, 134,  23,  13, 138,
       171, 168,  65,  10, 148, 159, 169, 144, 165,  59,  68,  91, 172,
        55, 155,  53,  89,  28,  75, 170, 120,  99, 111,  33, 129, 122,
       150, 195, 110, 101, 191, 140, 153, 173, 174,  90, 179, 145, 200,
       183, 182,  88, 160, 205, 164,  14, 175, 103, 108, 185, 204, 154,
       102, 192, 202, 162, 142,  95, 184, 181, 143, 123, 178, 198, 201,
       203, 189, 151, 199, 224, 218], dtype=int64)

In [25]:
bank_records['Education'].unique()

array([0., 1., 2.])

#### Splitting Dataset / Modelling:

##### Splitting:

In [26]:
indpt_feat = bank_records.drop('Income(Thousands)', axis = 'columns')
dpt_feat = bank_records['Income(Thousands)']

X = indpt_feat
y = dpt_feat

In [27]:
X

      Age  Experience(Years)  Education
0      25                  1        0.0
1      45                 19        0.0
2      39                 15        0.0
3      35                  9        1.0
4      35                  8        1.0
...   ...                ...        ...
4995   29                  3        2.0
4996   30                  4        0.0
4997   63                 39        2.0
4998   65                 40        1.0
4999   28                  4        0.0

[5000 rows x 3 columns]

In [28]:
y

0        49
1        34
2        11
3       100
4        45
       ...
4995     40
4996     15
4997     24
4998     49
4999     83
Name: Income(Thousands), Length: 5000, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=17, test_size=0.2)

In [31]:
X_train.shape

(4000, 3)

In [32]:
X_test.shape

(1000, 3)

In [33]:
y_train.shape

(4000,)

In [34]:
y_test.shape

(1000,)

##### Modelling:

In [38]:
X_train

      Age  Experience(Years)  Education
1926   30                  6        1.0
805    55                 29        1.0
1674   37                 11        1.0
81     47                 22        1.0
2266   38                 13        0.0
...   ...                ...        ...
2800   52                 26        1.0
1337   26                  0        1.0
406    45                 19        0.0
2191   42                 18        0.0
2671   62                 37        0.0

[4000 rows x 3 columns]

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [40]:
model = Sequential()
model.add(Dense(64, activation= 'relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation= 'relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

early_stopping = EarlyStopping(patience=5)

model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=32, verbose=2, callbacks = [early_stopping])

loss, mae = model.evaluate(X_test, y_test, verbose=2)

Epoch 1/100

C:\Users\thiag\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

100/100 - 2s - 16ms/step - loss: 3669.0735 - mae: 46.3784 - val_loss: 2431.8223 - val_mae: 38.2349
Epoch 2/100
100/100 - 0s - 2ms/step - loss: 2573.2859 - mae: 39.9974 - val_loss: 2266.2041 - val_mae: 37.0958
Epoch 3/100
100/100 - 0s - 2ms/step - loss: 2402.9355 - mae: 38.8875 - val_loss: 2191.4121 - val_mae: 37.8411
Epoch 4/100
100/100 - 0s - 2ms/step - loss: 2270.7732 - mae: 38.2174 - val_loss: 2044.3448 - val_mae: 36.0815
Epoch 5/100
100/100 - 0s - 2ms/step - loss: 2197.4104 - mae: 37.6963 - val_loss: 2022.7450 - val_mae: 36.2459
Epoch 6/100
100/100 - 0s - 2ms/step - loss: 2165.0125 - mae: 37.5481 - val_loss: 2001.2965 - val_mae: 35.5912
Epoch 7/100
100/100 - 0s - 2ms/step - loss: 2145.6816 - mae: 37.3081 - val_loss: 1992.9111 - val_mae: 35.6006
Epoch 8/100
100/100 - 0s - 2ms/step - loss: 2138.1633 - mae: 37.3312 - val_loss: 2002.7819 - val_mae: 36.2453
Epoch 9/100
100/100 - 0s - 2ms/step - loss: 2134.0664 - mae: 37.2073 - val_loss: 1977.2155 - val_mae: 35.5339
Epoch 10/100
100/100 - 0s - 2ms/step - loss: 2119.9851 - mae: 37.1012 - val_loss: 1978.6742 - val_mae: 35.8284
Epoch 11/100
100/100 - 0s - 2ms/step - loss: 2114.2185 - mae: 37.0259 - val_loss: 1970.1323 - val_mae: 35.4649
Epoch 12/100
100/100 - 0s - 2ms/step - loss: 2122.3962 - mae: 37.1426 - val_loss: 1974.1887 - val_mae: 35.1316
Epoch 13/100
100/100 - 0s - 2ms/step - loss: 2109.9688 - mae: 37.0095 - val_loss: 1975.7075 - val_mae: 35.8273
Epoch 14/100
100/100 - 0s - 2ms/step - loss: 2107.4250 - mae: 37.1294 - val_loss: 1969.6747 - val_mae: 35.1968
Epoch 15/100
100/100 - 0s - 2ms/step - loss: 2107.6819 - mae: 36.9820 - val_loss: 1967.3030 - val_mae: 35.6123
Epoch 16/100
100/100 - 0s - 2ms/step - loss: 2102.7610 - mae: 36.8332 - val_loss: 1964.0769 - val_mae: 35.4506
Epoch 17/100
100/100 - 0s - 5ms/step - loss: 2102.8826 - mae: 37.0373 - val_loss: 1971.7489 - val_mae: 35.8160
Epoch 18/100
100/100 - 0s - 3ms/step - loss: 2092.9155 - mae: 36.8278 - val_loss: 1961.6406 - val_mae: 35.4959
Epoch 19/100
100/100 - 0s - 3ms/step - loss: 2102.2412 - mae: 36.9576 - val_loss: 1961.3690 - val_mae: 35.2234
Epoch 20/100
100/100 - 0s - 3ms/step - loss: 2096.7666 - mae: 36.9656 - val_loss: 1961.8035 - val_mae: 35.0652
Epoch 21/100
100/100 - 0s - 4ms/step - loss: 2105.6187 - mae: 36.8868 - val_loss: 1968.9761 - val_mae: 35.7627
Epoch 22/100
100/100 - 0s - 2ms/step - loss: 2097.8501 - mae: 36.8967 - val_loss: 1959.2758 - val_mae: 35.4026
Epoch 23/100
100/100 - 0s - 2ms/step - loss: 2094.3848 - mae: 36.8622 - val_loss: 1966.3906 - val_mae: 35.6496
Epoch 24/100
100/100 - 0s - 2ms/step - loss: 2106.0464 - mae: 36.9812 - val_loss: 1985.8428 - val_mae: 36.1782
Epoch 25/100
100/100 - 0s - 2ms/step - loss: 2097.3250 - mae: 36.9824 - val_loss: 1957.3011 - val_mae: 35.2058
Epoch 26/100
100/100 - 0s - 2ms/step - loss: 2101.0115 - mae: 36.9029 - val_loss: 1972.3610 - val_mae: 34.9882
Epoch 27/100
100/100 - 0s - 2ms/step - loss: 2097.2803 - mae: 36.8358 - val_loss: 1964.1211 - val_mae: 34.9741
Epoch 28/100
100/100 - 0s - 3ms/step - loss: 2094.8564 - mae: 36.7960 - val_loss: 1959.6290 - val_mae: 35.1602
Epoch 29/100
100/100 - 0s - 2ms/step - loss: 2098.0891 - mae: 36.8657 - val_loss: 1982.9613 - val_mae: 36.1030
Epoch 30/100
100/100 - 0s - 3ms/step - loss: 2097.7493 - mae: 36.9237 - val_loss: 1965.3018 - val_mae: 35.6653
32/32 - 0s - 8ms/step - loss: 2044.7433 - mae: 36.2513

In [41]:
print(f"Mean Squared Error: {loss}")
print(f"Mean Absolute Error: {mae}")

Mean Squared Error: 2044.7432861328125
Mean Absolute Error: 36.25133514404297

In [42]:

input_feat = np.array([[30, 5, 2.0]])
predicted_income = model.predict(input_feat.reshape(1,3), batch_size=1)
print(predicted_income)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step
[[63.1484]]

In [43]:
y_pred = model.predict(X_test)*1000

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [44]:
y_pred

array([[57073.324],
       [71862.97 ],
       [65239.016],
       [61731.36 ],
       [90803.93 ],
       [91789.61 ],
       [85769.37 ],
       [71862.97 ],
       [63012.14 ],
       [60185.793],
       [77158.2  ],
       [72045.35 ],
       [75700.5  ],
       [61731.36 ],
       [66613.86 ],
       [59620.703],
       [78655.82 ],
       [68769.53 ],
       [78740.8  ],
       [84284.1  ],
       [70239.39 ],
       [73244.66 ],
       [74729.93 ],
       [69592.73 ],
       [64773.5  ],
       [72045.35 ],
       [77302.69 ],
       [60919.81 ],
       [63646.574],
       [85769.37 ],
       [82139.72 ],
       [78740.8  ],
       [70092.69 ],
       [77300.11 ],
       [70176.805],
       [73759.02 ],
       [70671.89 ],
       [70122.5  ],
       [75171.94 ],
       [56396.754],
       [89375.625],
       [73935.03 ],
       [63264.277],
       [80415.82 ],
       [83829.46 ],
       [81277.766],
       [79027.805],
       [60030.805],
       [74179.33 ],
       [86705.93 ],
       [79443.69 ],
       [78655.82 ],
       [77544.42 ],
       [80623.84 ],
       [61977.81 ],
       [61164.113],
       [84318.07 ],
       [82363.64 ],
       [77302.69 ],
       [74764.36 ],
       [70455.99 ],
       [73041.69 ],
       [64040.59 ],
       [92533.06 ],
       [64329.26 ],
       [63012.14 ],
       [76312.51 ],
       [61819.79 ],
       [62899.32 ],
       [59390.695],
       [60185.793],
       [79730.98 ],
       [92038.69 ],
       [61977.81 ],
       [63397.49 ],
       [75177.87 ],
       [65767.82 ],
       [81808.65 ],
       [66936.35 ],
       [63012.14 ],
       [62093.023],
       [67543.78 ],
       [89560.3  ],
       [70081.33 ],
       [70455.99 ],
       [67543.78 ],
       [68769.53 ],
       [80420.9  ],
       [85554.41 ],
       [76671.234],
       [61819.79 ],
       [67262.33 ],
       [59244.89 ],
       [76663.125],
       [60168.8  ],
       [63190.73 ],
       [86012.71 ],
       [81582.33 ],
       [76408.375],
       [85056.24 ],
       [75589.99 ],
       [65303.375],
       [62690.105],
       [90071.03 ],
       [66266.01 ],
       [60279.89 ],
       [57223.41 ],
       [71870.46 ],
       [89168.09 ],
       [91540.53 ],
       [84073.76 ],
       [80909.51 ],
       [64529.2  ],
       [78280.56 ],
       [87683.15 ],
       [75176.586],
       [79541.836],
       [61164.113],
       [77788.71 ],
       [81582.33 ],
       [60318.895],
       [62152.074],
       [79633.66 ],
       [63895.656],
       [63895.656],
       [60778.062],
       [75561.87 ],
       [71467.44 ],
       [71992.31 ],
       [64024.14 ],
       [71099.336],
       [56629.992],
       [87732.34 ],
       [74729.93 ],
       [76671.234],
       [67907.08 ],
       [80128.75 ],
       [77544.42 ],
       [84284.1  ],
       [87927.46 ],
       [66573.05 ],
       [59620.703],
       [75093.06 ],
       [58292.49 ],
       [78655.82 ],
       [71992.31 ],
       [62152.074],
       [59967.98 ],
       [65239.016],
       [66515.086],
       [62376.03 ],
       [68821.86 ],
       [73685.18 ],
       [81118.93 ],
       [88605.21 ],
       [66016.91 ],
       [65602.31 ],
       [64631.58 ],
       [67760.5  ],
       [69121.945],
       [58536.305],
       [86264.46 ],
       [63660.844],
       [74385.516],
       [77300.11 ],
       [71063.43 ],
       [62953.793],
       [57073.324],
       [65767.82 ],
       [77809.836],
       [83196.61 ],
       [72736.516],
       [82206.42 ],
       [69121.945],
       [62292.652],
       [65602.31 ],
       [71298.97 ],
       [75661.125],
       [76307.94 ],
       [59620.703],
       [80978.15 ],
       [71239.336],
       [82607.94 ],
       [92287.78 ],
       [81875.03 ],
       [91048.24 ],
       [90803.93 ],
       [74729.766],
       [89168.09 ],
       [83691.68 ],
       [75171.94 ],
       [87683.15 ],
       [85484.43 ],
       [83829.46 ],
       [71058.55 ],
       [62690.105],
       [73690.73 ],
       [69121.945],
       [79633.66 ],
       [78529.64 ],
       [83789.01 ],
       [71862.97 ],
       [59390.695],
       [81896.32 ],
       [75700.5  ],
       [75910.2  ],
       [56046.71 ],
       [72543.52 ],
       [81875.03 ],
       [71298.97 ],
       [76919.89 ],
       [80128.75 ],
       [79775.06 ],
       [68514.51 ],
       [82798.836],
       [73739.75 ],
       [91048.24 ],
       [65780.75 ],
       [68386.56 ],
       [73759.02 ],
       [60919.81 ],
       [85803.1  ],
       [87254.63 ],
       [67512.586],
       [65602.695],
       [91292.54 ],
       [62953.793],
       [77793.875],
       [73739.75 ],
       [63515.875],
       [66764.164],
       [64040.59 ],
       [86329.13 ],
       [67013.25 ],
       [71992.31 ],
       [84073.76 ],
       [59170.465],
       [74667.94 ],
       [73935.03 ],
       [59782.33 ],
       [84562.37 ],
       [77055.805],
       [84995.82 ],
       [75171.94 ],
       [68450.836],
       [80128.75 ],
       [87927.46 ],
       [91292.54 ],
       [63895.656],
       [57799.03 ],
       [85305.33 ],
       [64024.14 ],
       [72749.57 ],
       [77653.305],
       [70122.5  ],
       [75412.04 ],
       [59170.465],
       [75672.95 ],
       [82303.734],
       [88921.09 ],
       [87683.15 ],
       [72788.29 ],
       [81808.65 ],
       [60168.805],
       [82119.336],
       [60468.98 ],
       [73759.02 ],
       [82363.64 ],
       [63148.402],
       [64529.2  ],
       [79276.88 ],
       [76312.51 ],
       [87438.84 ],
       [92287.78 ],
       [59782.33 ],
       [65518.754],
       [61902.992],
       [91048.24 ],
       [84186.78 ],
       [66613.86 ],
       [83096.55 ],
       [80226.06 ],
       [61408.418],
       [86950.25 ],
       [75354.34 ],
       [91292.54 ],
       [73759.02 ],
       [86461.64 ],
       [63660.844],
       [83390.82 ],
       [62618.184],
       [59244.89 ],
       [65493.3  ],
       [85056.24 ],
       [85973.03 ],
       [80623.84 ],
       [68821.86 ],
       [89093.81 ],
       [90559.63 ],
       [67013.25 ],
       [79525.97 ],
       [60919.81 ],
       [56405.363],
       [74385.516],
       [71862.97 ],
       [79027.805],
       [88849.516],
       [65020.586],
       [72180.85 ],
       [86217.33 ],
       [64529.2  ],
       [60919.81 ],
       [64284.9  ],
       [73244.66 ],
       [75177.87 ],
       [79541.836],
       [75171.94 ],
       [82798.836],
       [80024.14 ],
       [72543.52 ],
       [68151.21 ],
       [70455.99 ],
       [62151.4  ],
       [72713.51 ],
       [61111.934],
       [72180.85 ],
       [62151.4  ],
       [85484.43 ],
       [64040.59 ],
       [64024.14 ],
       [59390.695],
       [65780.75 ],
       [87732.34 ],
       [79775.06 ],
       [70569.93 ],
       [82151.75 ],
       [64040.59 ],
       [69217.39 ],
       [62568.25 ],
       [60168.805],
       [81875.03 ],
       [76906.54 ],
       [86461.64 ],
       [62618.184],
       [70814.24 ],
       [79732.73 ],
       [72543.52 ],
       [58292.49 ],
       [85056.24 ],
       [80128.75 ],
       [77302.69 ],
       [65493.3  ],
       [85769.37 ],
       [62082.67 ],
       [70814.24 ],
       [68478.64 ],
       [70671.89 ],
       [66016.91 ],
       [63414.363],
       [83141.74 ],
       [77788.71 ],
       [63012.14 ],
       [57223.41 ],
       [65965.62 ],
       [90315.33 ],
       [78955.08 ],
       [65602.695],
       [71992.31 ],
       [60468.98 ],
       [91292.54 ],
       [80555.33 ],
       [74092.72 ],
       [79235.88 ],
       [75796.28 ],
       [64040.59 ],
       [68769.53 ],
       [84779.18 ],
       [58287.633],
       [77158.2  ],
       [72045.35 ],
       [72469.21 ],
       [78643.48 ],
       [81118.93 ],
       [73501.6  ],
       [83096.55 ],
       [64284.9  ],
       [80273.23 ],
       [85803.1  ],
       [69121.945],
       [71862.97 ],
       [79529.805],
       [81875.03 ],
       [79525.97 ],
       [71166.98 ],
       [70325.64 ],
       [56207.027],
       [81216.25 ],
       [82363.64 ],
       [70996.48 ],
       [65780.75 ],
       [71870.46 ],
       [81808.65 ],
       [61819.79 ],
       [78655.82 ],
       [88672.016],
       [73690.73 ],
       [74092.72 ],
       [75796.28 ],
       [82852.25 ],
       [64144.74 ],
       [59532.633],
       [81875.03 ],
       [85274.27 ],
       [81118.93 ],
       [77793.875],
       [64284.9  ],
       [88173.84 ],
       [77158.2  ],
       [68386.56 ],
       [84284.1  ],
       [88849.516],
       [83293.92 ],
       [79633.66 ],
       [73151.58 ],
       [85769.37 ],
       [83789.01 ],
       [85803.1  ],
       [82119.336],
       [71555.45 ],
       [66573.05 ],
       [88422.93 ],
       [87438.84 ],
       [71099.336],
       [89168.09 ],
       [80555.33 ],
       [87732.34 ],
       [78955.08 ],
       [75177.87 ],
       [61819.79 ],
       [86198.85 ],
       [59781.723],
       [85973.03 ],
       [65965.62 ],
       [64329.26 ],
       [74122.33 ],
       [85056.24 ],
       [80128.75 ],
       [68821.86 ],
       [92038.69 ],
       [75796.28 ],
       [64024.14 ],
       [58928.53 ],
       [80176.59 ],
       [69592.73 ],
       [81582.33 ],
       [88422.93 ],
       [74092.72 ],
       [82119.336],
       [75661.125],
       [66936.35 ],
       [71467.44 ],
       [80522.3  ],
       [79541.836],
       [81277.766],
       [87683.15 ],
       [71210.125],
       [80978.15 ],
       [62690.105],
       [88173.84 ],
       [89375.625],
       [66209.75 ],
       [88360.9  ],
       [70814.24 ],
       [65303.375],
       [79235.88 ],
       [61902.992],
       [56207.027],
       [64024.14 ],
       [77300.11 ],
       [83293.914],
       [86198.85 ],
       [64994.875],
       [66613.86 ],
       [65518.754],
       [60168.805],
       [78245.7  ],
       [77055.805],
       [74039.69 ],
       [81582.33 ],
       [82798.836],
       [81398.164],
       [78985.48 ],
       [78655.82 ],
       [78740.8  ],
       [64329.26 ],
       [75910.2  ],
       [87683.15 ],
       [67511.414],
       [82151.75 ],
       [84779.18 ],
       [80818.47 ],
       [86950.25 ],
       [87438.84 ],
       [82798.836],
       [86759.555],
       [83887.67 ],
       [78245.7  ],
       [73244.66 ],
       [73884.81 ],
       [81277.766],
       [80721.164],
       [82363.64 ],
       [69217.39 ],
       [73606.39 ],
       [76567.21 ],
       [71298.97 ],
       [82701.516],
       [69485.25 ],
       [71063.43 ],
       [65602.31 ],
       [71058.55 ],
       [62376.03 ],
       [63148.402],
       [61164.113],
       [88360.9  ],
       [77500.945],
       [69681.72 ],
       [59034.473],
       [81277.766],
       [87254.63 ],
       [80479.984],
       [62953.793],
       [79138.57 ],
       [85728.73 ],
       [83585.16 ],
       [80403.8  ],
       [71547.195],
       [87683.15 ],
       [77653.305],
       [59967.98 ],
       [59620.703],
       [58928.53 ],
       [57373.496],
       [78245.695],
       [71555.45 ],
       [73690.73 ],
       [75589.99 ],
       [64631.58 ],
       [71239.336],
       [61653.9  ],
       [68099.13 ],
       [68478.64 ],
       [79529.805],
       [77300.11 ],
       [86759.555],
       [79529.805],
       [56919.707],
       [60168.805],
       [68821.86 ],
       [56037.266],
       [76045.914],
       [83293.92 ],
       [89375.625],
       [68877.82 ],
       [88116.6  ],
       [75093.06 ],
       [68251.195],
       [69121.945],
       [61731.36 ],
       [83789.01 ],
       [71058.55 ],
       [77653.305],
       [78643.48 ],
       [76168.03 ],
       [76312.51 ],
       [79443.69 ],
       [74913.88 ],
       [92287.78 ],
       [57463.62 ],
       [64529.2  ],
       [58287.633],
       [68268.91 ],
       [58536.305],
       [60168.805],
       [77793.875],
       [78148.39 ],
       [82852.25 ],
       [89690.58 ],
       [76045.914],
       [69681.72 ],
       [70996.48 ],
       [83585.16 ],
       [71870.46 ],
       [73788.94 ],
       [63564.453],
       [77055.805],
       [72294.44 ],
       [59034.473],
       [84657.35 ],
       [88849.516],
       [57463.62 ],
       [88173.84 ],
       [84995.82 ],
       [78955.08 ],
       [91789.61 ],
       [70081.33 ],
       [80555.33 ],
       [62151.4  ],
       [64144.74 ],
       [65518.754],
       [91540.53 ],
       [78280.56 ],
       [85769.37 ],
       [60890.402],
       [57799.03 ],
       [73935.03 ],
       [75176.586],
       [69121.945],
       [73446.43 ],
       [85728.73 ],
       [88605.21 ],
       [61164.113],
       [57463.62 ],
       [67512.586],
       [72469.21 ],
       [59034.473],
       [85305.33 ],
       [80024.14 ],
       [61408.418],
       [84284.1  ],
       [68877.82 ],
       [68769.53 ],
       [80403.8  ],
       [77544.42 ],
       [62151.4  ],
       [78245.7  ],
       [86198.85 ],
       [75171.94 ],
       [70814.24 ],
       [61977.81 ],
       [90803.93 ],
       [78292.875],
       [59967.98 ],
       [89093.81 ],
       [88173.84 ],
       [73685.18 ],
       [82394.484],
       [61111.934],
       [68151.21 ],
       [69121.945],
       [66515.086],
       [82798.836],
       [78033.02 ],
       [77989.55 ],
       [65780.75 ],
       [80818.47 ],
       [84284.1  ],
       [80403.8  ],
       [83196.61 ],
       [72294.44 ],
       [67760.51 ],
       [76168.03 ],
       [71796.27 ],
       [58928.53 ],
       [59012.266],
       [59170.465],
       [71467.44 ],
       [85305.33 ],
       [77809.836],
       [64024.14 ],
       [82119.336],
       [66764.16 ],
       [78740.8  ],
       [70173.17 ],
       [79475.96 ],
       [79730.98 ],
       [78655.82 ],
       [85554.41 ],
       [71166.98 ],
       [81277.766],
       [59390.695],
       [82798.836],
       [77158.2  ],
       [84779.18 ],
       [76168.03 ],
       [77788.71 ],
       [59045.26 ],
       [86950.25 ],
       [61902.992],
       [88116.6  ],
       [72180.85 ],
       [91048.24 ],
       [83691.68 ],
       [75412.05 ],
       [59034.473],
       [82394.484],
       [65493.3  ],
       [84779.18 ],
       [75093.06 ],
       [63660.844],
       [60318.895],
       [81313.57 ],
       [77155.625],
       [68151.21 ],
       [83141.74 ],
       [75171.94 ],
       [63796.297],
       [83639.9  ],
       [76168.03 ],
       [87194.53 ],
       [85554.41 ],
       [78033.02 ],
       [83585.16 ],
       [79138.57 ],
       [61027.145],
       [77788.71 ],
       [65983.61 ],
       [72143.375],
       [70671.89 ],
       [65303.375],
       [78245.7  ],
       [80415.82 ],
       [77809.836],
       [57554.723],
       [76063.8  ],
       [83691.68 ],
       [59283.56 ],
       [82798.836],
       [79235.88 ],
       [71302.85 ],
       [64529.2  ],
       [76078.6  ],
       [74729.766],
       [81118.93 ],
       [83293.914],
       [62568.254],
       [79443.69 ],
       [59012.266],
       [78529.64 ],
       [67180.484],
       [86705.93 ],
       [62292.652],
       [89093.81 ],
       [62152.074],
       [70081.33 ],
       [72736.516],
       [61731.36 ],
       [88173.84 ],
       [77158.2  ],
       [88605.21 ],
       [66515.086],
       [80128.75 ],
       [67512.586],
       [56629.992],
       [74781.055],
       [64284.9  ],
       [68769.53 ],
       [65780.75 ],
       [76307.94 ],
       [75177.87 ],
       [78655.82 ],
       [87927.46 ],
       [56919.707],
       [82363.64 ],
       [57373.504],
       [71210.125],
       [80420.9  ],
       [79633.66 ],
       [64529.2  ],
       [80818.47 ],
       [87927.46 ],
       [84657.35 ],
       [81875.03 ],
       [86461.64 ],
       [77797.77 ],
       [79138.57 ],
       [70814.24 ],
       [66515.086],
       [82798.836],
       [72713.51 ],
       [78148.39 ],
       [89582.42 ],
       [73606.39 ],
       [60890.402],
       [85803.1  ],
       [79525.97 ],
       [83293.92 ],
       [87732.34 ],
       [78736.4  ],
       [61893.4  ],
       [71058.55 ],
       [69217.39 ],
       [61731.36 ],
       [71166.98 ],
       [64284.9  ],
       [76168.03 ],
       [60185.793],
       [56037.266],
       [87438.84 ],
       [62953.793],
       [86461.64 ],
       [86950.25 ],
       [82363.64 ],
       [59283.56 ],
       [78529.64 ],
       [63646.574],
       [78778.72 ],
       [82852.25 ],
       [75910.2  ],
       [71862.97 ],
       [77653.305],
       [67907.08 ],
       [87732.34 ],
       [82798.836],
       [81875.03 ],
       [81118.93 ],
       [70081.33 ],
       [85728.73 ],
       [58043.332],
       [66209.75 ],
       [90315.33 ],
       [66016.91 ],
       [57073.324],
       [82852.25 ],
       [72469.21 ],
       [69681.72 ],
       [61653.9  ],
       [83789.01 ],
       [88360.9  ],
       [77302.69 ],
       [64773.5  ],
       [67108.945],
       [86759.555],
       [87254.63 ],
       [56396.754],
       [71555.45 ],
       [86461.64 ],
       [83096.55 ],
       [85769.37 ],
       [70173.17 ],
       [59172.566],
       [79199.38 ],
       [76906.54 ],
       [87927.46 ],
       [90071.03 ],
       [64329.26 ],
       [60919.81 ],
       [71870.46 ],
       [80623.84 ],
       [62093.023],
       [74764.36 ],
       [75093.06 ],
       [85973.03 ],
       [56207.027],
       [56629.992],
       [75176.586],
       [78245.7  ],
       [78280.56 ],
       [71870.46 ],
       [59045.26 ],
       [73290.77 ],
       [69068.36 ],
       [75910.2  ],
       [74764.36 ],
       [82119.336],
       [84284.1  ],
       [79633.66 ],
       [59532.633],
       [65602.31 ],
       [89168.09 ],
       [57073.324],
       [87732.34 ],
       [83691.68 ],
       [72749.57 ],
       [71547.195],
       [62093.023],
       [66515.086],
       [62151.4  ],
       [76168.03 ],
       [77158.2  ],
       [88360.9  ],
       [77653.305],
       [60778.062],
       [59967.98 ],
       [82119.336],
       [62152.074],
       [87438.84 ],
       [59170.465],
       [69837.04 ],
       [56919.707],
       [60168.805],
       [60528.973],
       [63564.453],
       [59283.56 ],
       [59390.695],
       [84562.36 ],
       [64773.5  ],
       [76168.03 ],
       [77793.875],
       [63148.402],
       [79138.57 ],
       [73041.69 ],
       [78667.85 ],
       [85769.37 ],
       [84318.07 ],
       [62568.25 ],
       [75910.2  ],
       [60675.508],
       [71796.27 ],
       [75354.34 ],
       [59045.26 ],
       [88849.516],
       [86198.85 ],
       [83293.92 ],
       [75177.87 ],
       [73151.58 ],
       [75672.95 ],
       [75561.87 ],
       [88116.6  ],
       [77745.24 ],
       [67262.33 ],
       [79027.805],
       [80176.59 ],
       [79443.69 ],
       [82303.734],
       [83829.46 ],
       [87194.54 ],
       [88849.51 ],
       [71302.85 ],
       [64040.59 ],
       [85305.33 ],
       [75171.94 ],
       [65303.375],
       [79199.38 ],
       [84779.18 ],
       [82363.64 ],
       [66266.01 ],
       [61111.934],
       [87438.84 ],
       [75171.94 ],
       [82607.94 ],
       [68099.13 ],
       [75910.2  ],
       [63515.875],
       [81896.32 ],
       [87194.53 ],
       [73244.66 ],
       [77300.11 ],
       [87194.53 ],
       [62650.242],
       [89375.625],
       [82701.516],
       [62152.074],
       [88921.09 ],
       [72788.29 ],
       [61164.113],
       [87927.46 ],
       [82119.336],
       [79730.97 ],
       [69837.03 ],
       [78148.39 ],
       [89093.81 ],
       [74480.37 ],
       [81153.805],
       [63012.14 ],
       [73739.75 ],
       [62152.074],
       [88173.84 ],
       [83196.61 ],
       [80729.06 ],
       [75672.95 ],
       [80623.84 ],
       [74729.93 ],
       [72736.516],
       [82206.42 ],
       [71239.336],
       [79199.38 ],
       [64773.5  ],
       [70671.89 ],
       [75176.586],
       [59283.56 ],
       [71467.44 ],
       [74480.37 ],
       [62568.25 ],
       [65493.3  ],
       [76045.914],
       [66674.484],
       [60279.89 ],
       [79775.06 ],
       [77809.836],
       [81277.766],
       [92533.06 ],
       [67262.33 ],
       [80623.84 ],
       [78280.56 ],
       [85803.1  ],
       [69217.39 ],
       [83340.85 ],
       [92287.77 ],

##### Model Tuning

In [45]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
param_grid = {
    'neurons': [16, 32, 64],
    'activation': ['relu', 'tanh'],
    'optimizer': ['adam', 'rmsprop'],
    'batch_size': [16, 32, 64],
    'e'
}