# Name: Thiago de Oliveira da Costa StId: 2020005

### GitHub: https://github.com/ThBrasilDaCosta/CA2-ML-Neural-Semantic

### Project: ML - Neural Networks & Semantic Analysis

##### Importing necessary start libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading CSV file:

In [2]:
bank_records = pd.read_csv('BankRecords.csv')

#### Data Understanding:

In [3]:
bank_records.shape

(5000, 14)

In [4]:
bank_records.dtypes

ID                         int64
Age                        int64
Experience(Years)          int64
Income(Thousands's)        int64
Sort Code                  int64
Family                     int64
Credit Score             float64
Education                 object
Mortgage(Thousands's)      int64
Personal Loan             object
Securities Account        object
CD Account                object
Online Banking            object
CreditCard                object
dtype: object

In [5]:
bank_records.describe()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's)
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

In [6]:
bank_records.head()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes

In [7]:
bank_records.isna().sum()

ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

In [8]:
bank_records.loc[bank_records.duplicated()]

Empty DataFrame
Columns: [ID, Age, Experience(Years), Income(Thousands's), Sort Code, Family, Credit Score, Education, Mortgage(Thousands's), Personal Loan, Securities Account, CD Account, Online Banking, CreditCard]
Index: []

In [9]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands's)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

#### Data Transformation / Feature Engineering:

In [10]:
bank_records = bank_records.rename(columns={"Income(Thousands's)": "Income(Thousands)", "Mortgage(Thousands's)":"Mortgage(Thousands)"})

In [11]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

In [12]:
bank_records = bank_records.drop(['ID', 'Sort Code',
       'Family', 'Credit Score','Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'], axis = 1).copy()

In [13]:
bank_records

      Age  Experience(Years)  Income(Thousands) Education
0      25                  1                 49   Diploma
1      45                 19                 34   Diploma
2      39                 15                 11   Diploma
3      35                  9                100    Degree
4      35                  8                 45    Degree
...   ...                ...                ...       ...
4995   29                  3                 40   Masters
4996   30                  4                 15   Diploma
4997   63                 39                 24   Masters
4998   65                 40                 49    Degree
4999   28                  4                 83   Diploma

[5000 rows x 4 columns]

In [14]:
bank_records['Education'].unique()

array(['Diploma', 'Degree', 'Masters'], dtype=object)

In [15]:
oe = ['Diploma', 'Degree', 'Masters']

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oenc = OrdinalEncoder(categories = [oe])

In [18]:
bank_records['Education'] = oenc.fit_transform(bank_records[['Education']])

In [19]:
bank_records

      Age  Experience(Years)  Income(Thousands)  Education
0      25                  1                 49        0.0
1      45                 19                 34        0.0
2      39                 15                 11        0.0
3      35                  9                100        1.0
4      35                  8                 45        1.0
...   ...                ...                ...        ...
4995   29                  3                 40        2.0
4996   30                  4                 15        0.0
4997   63                 39                 24        2.0
4998   65                 40                 49        1.0
4999   28                  4                 83        0.0

[5000 rows x 4 columns]

In [20]:
bank_records['Age'].unique()

array([25, 45, 39, 35, 37, 53, 50, 34, 65, 29, 48, 59, 67, 60, 38, 42, 46,
       55, 56, 57, 44, 36, 43, 40, 30, 31, 51, 32, 61, 41, 28, 49, 47, 62,
       58, 54, 33, 27, 66, 24, 52, 26, 64, 63, 23], dtype=int64)

In [21]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, -1, 34,  0, 38, 40, 33,  4, -2, 42, -3, 43], dtype=int64)

In [22]:
bank_records['Experience(Years)'] = bank_records['Experience(Years)'].abs()

In [23]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, 34,  0, 38, 40, 33,  4, 42, 43], dtype=int64)

In [24]:
bank_records['Income(Thousands)'].unique()

array([ 49,  34,  11, 100,  45,  29,  72,  22,  81, 180, 105, 114,  40,
       112, 130, 193,  21,  25,  63,  62,  43, 152,  83, 158,  48, 119,
        35,  41,  18,  50, 121,  71, 141,  80,  84,  60, 132, 104,  52,
       194,   8, 131, 190,  44, 139,  93, 188,  39, 125,  32,  20, 115,
        69,  85, 135,  12, 133,  19,  82, 109,  42,  78,  51, 113, 118,
        64, 161,  94,  15,  74,  30,  38,   9,  92,  61,  73,  70, 149,
        98, 128,  31,  58,  54, 124, 163,  24,  79, 134,  23,  13, 138,
       171, 168,  65,  10, 148, 159, 169, 144, 165,  59,  68,  91, 172,
        55, 155,  53,  89,  28,  75, 170, 120,  99, 111,  33, 129, 122,
       150, 195, 110, 101, 191, 140, 153, 173, 174,  90, 179, 145, 200,
       183, 182,  88, 160, 205, 164,  14, 175, 103, 108, 185, 204, 154,
       102, 192, 202, 162, 142,  95, 184, 181, 143, 123, 178, 198, 201,
       203, 189, 151, 199, 224, 218], dtype=int64)

In [25]:
bank_records['Education'].unique()

array([0., 1., 2.])

#### Splitting Dataset / Modelling:

##### Splitting:

In [26]:
indpt_feat = bank_records.drop('Income(Thousands)', axis = 'columns')
dpt_feat = bank_records['Income(Thousands)']

X = indpt_feat
y = dpt_feat

In [27]:
X

      Age  Experience(Years)  Education
0      25                  1        0.0
1      45                 19        0.0
2      39                 15        0.0
3      35                  9        1.0
4      35                  8        1.0
...   ...                ...        ...
4995   29                  3        2.0
4996   30                  4        0.0
4997   63                 39        2.0
4998   65                 40        1.0
4999   28                  4        0.0

[5000 rows x 3 columns]

In [28]:
y

0        49
1        34
2        11
3       100
4        45
       ...
4995     40
4996     15
4997     24
4998     49
4999     83
Name: Income(Thousands), Length: 5000, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=17, test_size=0.2)

In [31]:
X_train.shape

(4000, 3)

In [32]:
X_test.shape

(1000, 3)

In [33]:
y_train.shape

(4000,)

In [34]:
y_test.shape

(1000,)

##### Modelling:

###### Scalling:

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
#  scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

In [37]:
# X_train = X_train_scaled
# X_test = X_test_scaled

In [38]:
X_train

      Age  Experience(Years)  Education
1926   30                  6        1.0
805    55                 29        1.0
1674   37                 11        1.0
81     47                 22        1.0
2266   38                 13        0.0
...   ...                ...        ...
2800   52                 26        1.0
1337   26                  0        1.0
406    45                 19        0.0
2191   42                 18        0.0
2671   62                 37        0.0

[4000 rows x 3 columns]

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [40]:
model = Sequential()
model.add(Dense(64, activation= 'relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation= 'relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])

early_stopping = EarlyStopping(patience=5)

model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=32, verbose=2, callbacks = [early_stopping])

loss, mae, accuracy = model.evaluate(X_test, y_test, verbose=2)

Epoch 1/100

C:\Users\thiag\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

100/100 - 2s - 17ms/step - accuracy: 0.0000e+00 - loss: 4205.6733 - mae: 49.8613 - val_accuracy: 0.0000e+00 - val_loss: 2498.1570 - val_mae: 38.5546
Epoch 2/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2657.4646 - mae: 40.5236 - val_accuracy: 0.0000e+00 - val_loss: 2348.4143 - val_mae: 37.5367
Epoch 3/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2487.7715 - mae: 39.4235 - val_accuracy: 0.0000e+00 - val_loss: 2186.6121 - val_mae: 36.5808
Epoch 4/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2321.2639 - mae: 38.3396 - val_accuracy: 0.0000e+00 - val_loss: 2062.8987 - val_mae: 35.6922
Epoch 5/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2206.1711 - mae: 37.7220 - val_accuracy: 0.0000e+00 - val_loss: 2016.0099 - val_mae: 36.0926
Epoch 6/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2163.5964 - mae: 37.3710 - val_accuracy: 0.0000e+00 - val_loss: 2000.9911 - val_mae: 36.0786
Epoch 7/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2139.7590 - mae: 37.2767 - val_accuracy: 0.0000e+00 - val_loss: 1989.4755 - val_mae: 35.3074
Epoch 8/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2129.8906 - mae: 37.2046 - val_accuracy: 0.0000e+00 - val_loss: 1979.0385 - val_mae: 35.5581
Epoch 9/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2123.1357 - mae: 37.0947 - val_accuracy: 0.0000e+00 - val_loss: 1975.7189 - val_mae: 35.4765
Epoch 10/100
100/100 - 0s - 4ms/step - accuracy: 0.0000e+00 - loss: 2117.7849 - mae: 37.1582 - val_accuracy: 0.0000e+00 - val_loss: 1973.5631 - val_mae: 35.3079
Epoch 11/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2112.8853 - mae: 37.0318 - val_accuracy: 0.0000e+00 - val_loss: 1969.2377 - val_mae: 35.3538
Epoch 12/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2108.8262 - mae: 36.9827 - val_accuracy: 0.0000e+00 - val_loss: 1967.6971 - val_mae: 35.4513
Epoch 13/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2111.8032 - mae: 37.0375 - val_accuracy: 0.0000e+00 - val_loss: 1965.8822 - val_mae: 35.4665
Epoch 14/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2103.9517 - mae: 36.9928 - val_accuracy: 0.0000e+00 - val_loss: 1971.0458 - val_mae: 35.0829
Epoch 15/100
100/100 - 0s - 3ms/step - accuracy: 0.0000e+00 - loss: 2106.6565 - mae: 37.0379 - val_accuracy: 0.0000e+00 - val_loss: 1963.1857 - val_mae: 35.2749
Epoch 16/100
100/100 - 0s - 4ms/step - accuracy: 0.0000e+00 - loss: 2099.6992 - mae: 36.8732 - val_accuracy: 0.0000e+00 - val_loss: 1982.7405 - val_mae: 36.0761
Epoch 17/100
100/100 - 0s - 3ms/step - accuracy: 0.0000e+00 - loss: 2101.4641 - mae: 36.9816 - val_accuracy: 0.0000e+00 - val_loss: 1970.9663 - val_mae: 35.7522
Epoch 18/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2101.2219 - mae: 37.0050 - val_accuracy: 0.0000e+00 - val_loss: 1964.1483 - val_mae: 35.4552
Epoch 19/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2100.1704 - mae: 36.8910 - val_accuracy: 0.0000e+00 - val_loss: 1973.7455 - val_mae: 35.8611
Epoch 20/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2094.6833 - mae: 36.7975 - val_accuracy: 0.0000e+00 - val_loss: 1960.6740 - val_mae: 35.3143
Epoch 21/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2093.4529 - mae: 36.9127 - val_accuracy: 0.0000e+00 - val_loss: 1989.2577 - val_mae: 36.2471
Epoch 22/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2098.2507 - mae: 36.9666 - val_accuracy: 0.0000e+00 - val_loss: 1973.4797 - val_mae: 35.8920
Epoch 23/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2095.0972 - mae: 36.8468 - val_accuracy: 0.0000e+00 - val_loss: 2003.1438 - val_mae: 36.5257
Epoch 24/100
100/100 - 0s - 3ms/step - accuracy: 0.0000e+00 - loss: 2095.5618 - mae: 36.9635 - val_accuracy: 0.0000e+00 - val_loss: 1961.9167 - val_mae: 35.3313
Epoch 25/100
100/100 - 0s - 4ms/step - accuracy: 0.0000e+00 - loss: 2092.3025 - mae: 36.8692 - val_accuracy: 0.0000e+00 - val_loss: 2021.0144 - val_mae: 36.8519
32/32 - 0s - 10ms/step - accuracy: 0.0000e+00 - loss: 2075.2524 - mae: 37.2526

In [41]:
print(f"Accuracy: {accuracy}")

Accuracy: 0.0

In [42]:

input_feat = np.array([[30, 5, 2.0]])
predicted_income = model.predict(input_feat.reshape(1,3), batch_size=1)
print(predicted_income)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step
[[67.69409]]

In [43]:
y_pred = model.predict(X_test)*1000

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [44]:
y_pred

array([[62171.953],
       [78833.14 ],
       [68162.8  ],
       [64745.31 ],
       [95564.26 ],
       [96504.41 ],
       [91803.664],
       [78833.14 ],
       [68525.15 ],
       [64129.812],
       [84046.734],
       [76457.836],
       [76901.21 ],
       [64745.31 ],
       [72651.06 ],
       [65091.875],
       [85692.35 ],
       [74715.41 ],
       [86632.51 ],
       [91098.56 ],
       [72038.305],
       [79346.49 ],
       [79984.1  ],
       [74107.46 ],
       [69894.06 ],
       [76457.836],
       [83039.93 ],
       [66118.58 ],
       [68164.17 ],
       [91803.664],
       [88748.195],
       [86632.51 ],
       [72098.66 ],
       [82099.44 ],
       [76084.336],
       [75472.875],
       [76255.445],
       [74373.19 ],
       [82636.52 ],
       [61029.918],
       [93333.61 ],
       [78573.516],
       [68696.26 ],
       [82057.97 ],
       [88277.41 ],
       [85112.25 ],
       [83744.695],
       [64411.484],
       [78808.55 ],
       [91333.234],
       [84450.15 ],
       [85692.35 ],
       [82334.47 ],
       [85692.   ],
       [67874.09 ],
       [66289.68 ],
       [88747.484],
       [86867.19 ],
       [83039.93 ],
       [82871.555],
       [72136.05 ],
       [77397.98 ],
       [69380.71 ],
       [96911.09 ],
       [67653.14 ],
       [68525.15 ],
       [82608.64 ],
       [67746.03 ],
       [67496.445],
       [64920.76 ],
       [64129.812],
       [87102.57 ],
       [96739.44 ],
       [67874.09 ],
       [67929.13 ],
       [83106.59 ],
       [70581.39 ],
       [89923.38 ],
       [68636.086],
       [68525.15 ],
       [67489.89 ],
       [69483.03 ],
       [93067.78 ],
       [74577.54 ],
       [72136.05 ],
       [69483.03 ],
       [74715.41 ],
       [85390.3  ],
       [89866.95 ],
       [77680.98 ],
       [67746.03 ],
       [71925.11 ],
       [64259.91 ],
       [83811.7  ],
       [65434.105],
       [67055.28 ],
       [89868.26 ],
       [86162.08 ],
       [80923.89 ],
       [89452.59 ],
       [80454.18 ],
       [71966.6  ],
       [65356.523],
       [94859.16 ],
       [70984.97 ],
       [64638.26 ],
       [62343.07 ],
       [74418.13 ],
       [93416.516],
       [96269.37 ],
       [88512.44 ],
       [85860.38 ],
       [69722.945],
       [83039.58 ],
       [92273.38 ],
       [81573.74 ],
       [81889.234],
       [66289.68 ],
       [82569.5  ],
       [86162.08 ],
       [65605.23 ],
       [66974.15 ],
       [85221.92 ],
       [68399.22 ],
       [68399.22 ],
       [65129.113],
       [81744.86 ],
       [78662.016],
       [77806.445],
       [65983.08 ],
       [78319.8  ],
       [61829.72 ],
       [92743.81 ],
       [79984.1  ],
       [77680.98 ],
       [69520.414],
       [85456.97 ],
       [82334.47 ],
       [91098.56 ],
       [92508.42 ],
       [68598.695],
       [65091.875],
       [75825.875],
       [61416.055],
       [85692.35 ],
       [77806.445],
       [66974.15 ],
       [65262.992],
       [68162.8  ],
       [71220.01 ],
       [68182.91 ],
       [75570.98 ],
       [80281.77 ],
       [85927.04 ],
       [93448.93 ],
       [70765.63 ],
       [67714.36 ],
       [66911.695],
       [72354.85 ],
       [71214.32 ],
       [63369.766],
       [92038.7  ],
       [66131.93 ],
       [81231.52 ],
       [82099.44 ],
       [72983.   ],
       [67173.95 ],
       [62171.953],
       [70581.39 ],
       [85927.39 ],
       [88747.836],
       [77635.31 ],
       [88277.766],
       [71214.33 ],
       [67361.83 ],
       [67714.36 ],
       [78148.664],
       [80218.78 ],
       [78279.16 ],
       [65091.875],
       [86227.78 ],
       [78490.91 ],
       [87102.22 ],
       [96856.1  ],
       [86397.11 ],
       [95799.305],
       [95564.26 ],
       [76121.445],
       [93416.516],
       [88982.87 ],
       [82636.52 ],
       [92273.38 ],
       [90158.05 ],
       [88277.41 ],
       [75517.69 ],
       [65356.523],
       [78338.484],
       [71214.33 ],
       [85221.92 ],
       [83274.61 ],
       [90863.52 ],
       [78833.14 ],
       [64920.76 ],
       [86800.52 ],
       [76901.21 ],
       [80453.81 ],
       [61414.125],
       [76927.91 ],
       [86397.11 ],
       [78148.664],
       [82166.445],
       [85456.97 ],
       [84449.8  ],
       [70367.37 ],
       [90393.445],
       [79520.266],
       [95799.305],
       [72308.83 ],
       [71136.06 ],
       [75472.875],
       [66118.58 ],
       [89921.94 ],
       [92508.77 ],
       [71143.16 ],
       [71624.375],
       [96034.336],
       [67173.95 ],
       [81958.86 ],
       [79520.266],
       [67365.4  ],
       [71455.04 ],
       [69380.72 ],
       [89336.59 ],
       [71690.07 ],
       [77806.445],
       [88512.44 ],
       [61921.953],
       [79278.63 ],
       [78573.516],
       [64003.777],
       [88982.516],
       [81864.4  ],
       [89687.984],
       [82636.52 ],
       [74886.52 ],
       [85456.97 ],
       [92508.42 ],
       [96034.336],
       [68399.22 ],
       [62856.41 ],
       [89687.625],
       [65983.08 ],
       [79175.37 ],
       [84281.77 ],
       [74373.19 ],
       [79983.734],
       [61921.953],
       [83341.63 ],
       [90158.414],
       [93361.516],
       [92273.38 ],
       [74844.87 ],
       [89923.38 ],
       [65434.105],
       [86632.14 ],
       [65776.336],
       [75472.875],
       [86867.19 ],
       [67694.09 ],
       [69722.945],
       [83979.72 ],
       [82608.64 ],
       [92038.35 ],
       [96856.1  ],
       [64003.777],
       [70407.41 ],
       [66803.03 ],
       [95799.305],
       [89217.914],
       [72651.06 ],
       [87572.3  ],
       [87337.62 ],
       [66460.8  ],
       [91568.28 ],
       [77752.21 ],
       [96034.336],
       [75472.875],
       [91098.195],
       [66131.93 ],
       [88066.27 ],
       [68354.016],
       [64259.91 ],
       [72137.71 ],
       [89452.59 ],
       [90628.13 ],
       [85692.   ],
       [75570.98 ],
       [93919.   ],
       [95329.22 ],
       [71690.07 ],
       [84214.766],
       [66118.58 ],
       [61670.25 ],
       [81231.52 ],
       [78833.14 ],
       [83744.695],
       [93683.96 ],
       [70065.18 ],
       [73414.93 ],
       [90863.164],
       [69722.945],
       [66118.58 ],
       [69551.836],
       [79346.49 ],
       [83106.59 ],
       [81889.234],
       [82636.52 ],
       [90393.445],
       [84571.7  ],
       [76927.9  ],
       [70397.98 ],
       [72136.05 ],
       [68011.8  ],
       [77398.34 ],
       [63425.42 ],
       [73414.93 ],
       [68011.8  ],
       [90158.05 ],
       [69380.72 ],
       [65983.08 ],
       [64920.76 ],
       [72308.83 ],
       [92743.81 ],
       [84449.8  ],
       [75047.61 ],
       [85081.63 ],
       [69380.72 ],
       [75742.09 ],
       [67233.766],
       [65434.105],
       [86397.11 ],
       [81132.125],
       [91098.2  ],
       [68354.016],
       [75282.64 ],
       [85088.61 ],
       [76927.91 ],
       [61416.055],
       [89452.59 ],
       [85456.97 ],
       [83039.93 ],
       [72137.72 ],
       [91803.664],
       [64214.395],
       [75282.64 ],
       [75399.87 ],
       [76255.445],
       [70765.63 ],
       [68867.36 ],
       [87975.71 ],
       [82569.5  ],
       [68525.15 ],
       [62343.07 ],
       [67751.76 ],
       [95094.19 ],
       [83980.08 ],
       [71624.375],
       [77806.445],
       [65776.336],
       [96034.336],
       [89218.266],
       [81060.39 ],
       [86867.54 ],
       [81915.98 ],
       [69380.72 ],
       [74715.41 ],
       [91333.6  ],
       [63198.65 ],
       [84046.734],
       [76457.836],
       [77163.3  ],
       [84751.85 ],
       [85927.03 ],
       [80409.836],
       [87572.3  ],
       [69551.836],
       [84626.695],
       [89921.94 ],
       [71214.33 ],
       [78833.14 ],
       [85457.32 ],
       [86397.11 ],
       [84214.766],
       [76458.19 ],
       [74812.58 ],
       [61542.184],
       [87807.69 ],
       [86867.19 ],
       [74245.07 ],
       [72308.83 ],
       [74418.13 ],
       [89923.38 ],
       [67746.03 ],
       [85692.35 ],
       [93213.54 ],
       [78338.484],
       [81060.39 ],
       [81915.98 ],
       [87337.25 ],
       [68654.42 ],
       [64054.23 ],
       [86397.11 ],
       [91568.63 ],
       [85927.04 ],
       [81958.86 ],
       [69551.836],
       [92743.45 ],
       [84046.734],
       [71136.06 ],
       [91098.56 ],
       [93683.96 ],
       [90628.48 ],
       [85221.92 ],
       [74194.695],
       [91803.664],
       [90863.52 ],
       [89921.94 ],
       [86632.14 ],
       [77977.555],
       [68598.695],
       [92978.5  ],
       [92038.35 ],
       [78319.8  ],
       [93416.516],
       [89218.266],
       [92743.81 ],
       [83980.08 ],
       [83106.59 ],
       [67746.03 ],
       [89602.42 ],
       [64227.242],
       [90628.13 ],
       [67751.76 ],
       [67653.14 ],
       [74974.48 ],
       [89452.59 ],
       [85456.96 ],
       [75570.984],
       [96739.44 ],
       [81915.98 ],
       [65983.08 ],
       [64516.043],
       [85155.266],
       [74107.46 ],
       [86162.08 ],
       [92978.5  ],
       [81060.39 ],
       [86632.14 ],
       [80218.78 ],
       [68636.086],
       [78662.016],
       [84523.14 ],
       [81889.234],
       [85112.25 ],
       [92273.38 ],
       [72666.59 ],
       [86227.78 ],
       [65356.523],
       [92743.45 ],
       [93333.61 ],
       [68838.44 ],
       [93213.89 ],
       [75282.64 ],
       [71966.6  ],
       [86867.54 ],
       [66803.03 ],
       [61542.184],
       [65983.08 ],
       [82099.43 ],
       [90628.48 ],
       [89602.42 ],
       [66867.41 ],
       [72651.06 ],
       [70407.41 ],
       [65434.105],
       [86397.47 ],
       [81864.4  ],
       [81581.94 ],
       [86162.08 ],
       [90393.445],
       [86330.445],
       [84383.49 ],
       [85692.35 ],
       [86632.51 ],
       [67653.14 ],
       [80453.81 ],
       [92273.38 ],
       [72179.734],
       [85081.63 ],
       [91333.6  ],
       [89453.3  ],
       [91568.28 ],
       [92038.35 ],
       [90393.445],
       [92273.74 ],
       [88310.12 ],
       [86397.47 ],
       [79346.49 ],
       [80153.71 ],
       [85112.25 ],
       [87572.66 ],
       [86867.19 ],
       [75742.09 ],
       [77475.07 ],
       [81394.32 ],
       [78148.664],
       [88512.805],
       [71251.71 ],
       [72983.   ],
       [67714.36 ],
       [75517.69 ],
       [68182.91 ],
       [67694.09 ],
       [66289.68 ],
       [93213.89 ],
       [83113.78 ],
       [75913.22 ],
       [63711.996],
       [85112.25 ],
       [92508.77 ],
       [85793.73 ],
       [67173.95 ],
       [84986.88 ],
       [90393.086],
       [88042.37 ],
       [85226.84 ],
       [75987.76 ],
       [92273.38 ],
       [84281.77 ],
       [65262.992],
       [65091.875],
       [64516.043],
       [62514.184],
       [86397.47 ],
       [77977.555],
       [78338.484],
       [80454.18 ],
       [66911.695],
       [78490.91 ],
       [66631.914],
       [73167.31 ],
       [75399.87 ],
       [85457.32 ],
       [82099.44 ],
       [92273.74 ],
       [85457.32 ],
       [62000.836],
       [65434.105],
       [75570.98 ],
       [61286.055],
       [82401.48 ],
       [90628.48 ],
       [93333.61 ],
       [70404.76 ],
       [92978.86 ],
       [75825.875],
       [75057.63 ],
       [71214.33 ],
       [64745.31 ],
       [90863.52 ],
       [75517.69 ],
       [84281.77 ],
       [84751.85 ],
       [83576.67 ],
       [82608.64 ],
       [84450.15 ],
       [79513.664],
       [96856.1  ],
       [61085.67 ],
       [69722.945],
       [63198.65 ],
       [75228.75 ],
       [63369.766],
       [65434.105],
       [81958.86 ],
       [84516.82 ],
       [87337.25 ],
       [92801.94 ],
       [82401.48 ],
       [75913.22 ],
       [74245.07 ],
       [88042.37 ],
       [74418.13 ],
       [77593.65 ],
       [69038.49 ],
       [81864.4  ],
       [76692.875],
       [63711.996],
       [89452.96 ],
       [93683.96 ],
       [61085.67 ],
       [92743.45 ],
       [89687.984],
       [83980.08 ],
       [96504.41 ],
       [74577.54 ],
       [89218.266],
       [68011.8  ],
       [68654.42 ],
       [70407.41 ],
       [96269.37 ],
       [83039.58 ],
       [91803.664],
       [64359.117],
       [62856.41 ],
       [78573.516],
       [81573.74 ],
       [71214.33 ],
       [78103.445],
       [90393.086],
       [93448.93 ],
       [66289.68 ],
       [61085.67 ],
       [71143.15 ],
       [77163.3  ],
       [63711.996],
       [89687.625],
       [84571.7  ],
       [66460.8  ],
       [91098.56 ],
       [70404.76 ],
       [74715.41 ],
       [85226.84 ],
       [82334.47 ],
       [68011.8  ],
       [86397.47 ],
       [89602.42 ],
       [82636.52 ],
       [75282.64 ],
       [67874.09 ],
       [95564.26 ],
       [83510.01 ],
       [65262.992],
       [93919.   ],
       [92743.45 ],
       [80281.77 ],
       [87270.6  ],
       [63425.42 ],
       [70397.98 ],
       [71214.33 ],
       [71220.01 ],
       [90393.445],
       [82804.53 ],
       [83473.94 ],
       [72308.83 ],
       [89453.3  ],
       [91098.56 ],
       [85226.84 ],
       [88747.836],
       [76692.875],
       [72354.86 ],
       [83576.67 ],
       [76222.8  ],
       [64516.043],
       [64644.105],
       [61921.953],
       [78662.016],
       [89687.625],
       [85927.39 ],
       [65983.08 ],
       [86632.14 ],
       [71455.05 ],
       [86632.51 ],
       [74142.96 ],
       [82671.734],
       [87102.57 ],
       [85692.35 ],
       [89866.95 ],
       [76458.19 ],
       [85112.25 ],
       [64920.76 ],
       [90393.445],
       [84046.734],
       [91333.6  ],
       [83576.67 ],
       [82569.5  ],
       [64387.97 ],
       [91568.28 ],
       [66803.03 ],
       [92978.86 ],
       [73414.93 ],
       [95799.305],
       [88982.87 ],
       [79983.74 ],
       [63711.996],
       [87270.6  ],
       [72137.71 ],
       [91333.6  ],
       [75825.875],
       [66131.93 ],
       [65605.23 ],
       [89688.33 ],
       [81058.4  ],
       [70397.98 ],
       [87975.71 ],
       [82636.52 ],
       [69209.6  ],
       [88121.27 ],
       [83576.67 ],
       [91803.31 ],
       [89866.95 ],
       [82804.53 ],
       [88042.37 ],
       [84986.88 ],
       [65366.69 ],
       [82569.5  ],
       [71453.26 ],
       [76928.25 ],
       [76255.445],
       [71966.6  ],
       [86397.47 ],
       [82057.97 ],
       [85927.39 ],
       [62685.31 ],
       [76710.21 ],
       [88982.87 ],
       [63883.113],
       [90393.445],
       [86867.54 ],
       [75752.72 ],
       [69722.945],
       [80924.24 ],
       [76121.445],
       [85927.04 ],
       [90628.48 ],
       [67233.76 ],
       [84450.15 ],
       [64644.105],
       [83274.61 ],
       [69618.2  ],
       [91333.234],
       [67361.83 ],
       [93919.   ],
       [66974.15 ],
       [74577.54 ],
       [77635.31 ],
       [64745.31 ],
       [92743.45 ],
       [84046.734],
       [93448.93 ],
       [71220.01 ],
       [85456.97 ],
       [71143.15 ],
       [61829.72 ],
       [81402.63 ],
       [69551.836],
       [74715.41 ],
       [72308.83 ],
       [78279.16 ],
       [83106.59 ],
       [85692.35 ],
       [92508.42 ],
       [62000.836],
       [86867.19 ],
       [62514.19 ],
       [72666.59 ],
       [85390.305],
       [85221.92 ],
       [69722.945],
       [89453.3  ],
       [92508.42 ],
       [89452.96 ],
       [86397.11 ],
       [91098.2  ],
       [83274.96 ],
       [84986.88 ],
       [75282.64 ],
       [71220.01 ],
       [90393.445],
       [77398.34 ],
       [84516.82 ],
       [94389.07 ],
       [77475.07 ],
       [64359.117],
       [89921.94 ],
       [84214.766],
       [90628.48 ],
       [92743.81 ],
       [84148.45 ],
       [67617.97 ],
       [75517.69 ],
       [75742.09 ],
       [64745.31 ],
       [76458.19 ],
       [69551.836],
       [83576.67 ],
       [64129.812],
       [61286.055],
       [92038.34 ],
       [67173.95 ],
       [91098.2  ],
       [91568.28 ],
       [86867.19 ],
       [63883.113],
       [83274.61 ],
       [68164.17 ],
       [83509.64 ],
       [87337.25 ],
       [80453.81 ],
       [78833.14 ],
       [84281.77 ],
       [69520.414],
       [92743.81 ],
       [90393.445],
       [86397.11 ],
       [85927.04 ],
       [74577.54 ],
       [90393.086],
       [63027.53 ],
       [68838.44 ],
       [95094.19 ],
       [70765.63 ],
       [62171.953],
       [87337.25 ],
       [77163.3  ],
       [75913.22 ],
       [66631.914],
       [90863.52 ],
       [93213.89 ],
       [83039.93 ],
       [69894.07 ],
       [72822.18 ],
       [92273.74 ],
       [92508.77 ],
       [61029.918],
       [77977.555],
       [91098.2  ],
       [87572.3  ],
       [91803.664],
       [74142.96 ],
       [64772.17 ],
       [84215.12 ],
       [81132.125],
       [92508.42 ],
       [94859.16 ],
       [67653.14 ],
       [66118.58 ],
       [74418.13 ],
       [85692.   ],
       [67489.89 ],
       [82871.555],
       [75825.875],
       [90628.13 ],
       [61542.184],
       [61829.72 ],
       [81573.74 ],
       [86397.47 ],
       [83039.58 ],
       [74418.13 ],
       [64387.97 ],
       [77582.55 ],
       [73637.39 ],
       [80453.81 ],
       [82871.56 ],
       [86632.14 ],
       [91098.56 ],
       [85221.92 ],
       [64054.23 ],
       [67714.36 ],
       [93416.516],
       [62171.953],
       [92743.81 ],
       [88982.87 ],
       [79175.37 ],
       [75987.76 ],
       [67489.89 ],
       [71220.01 ],
       [68011.8  ],
       [83576.67 ],
       [84046.734],
       [93213.89 ],
       [84281.77 ],
       [65129.113],
       [65262.992],
       [86632.14 ],
       [66974.15 ],
       [92038.35 ],
       [61921.953],
       [74342.5  ],
       [62000.836],
       [65434.105],
       [64873.297],
       [69038.49 ],
       [63883.113],
       [64920.76 ],
       [88982.516],
       [69894.06 ],
       [83576.67 ],
       [81958.86 ],
       [67694.09 ],
       [84986.88 ],
       [77397.98 ],
       [81917.58 ],
       [91803.664],
       [88747.484],
       [67233.766],
       [80453.81 ],
       [65947.445],
       [76222.8  ],
       [77752.21 ],
       [64387.97 ],
       [93683.96 ],
       [89602.42 ],
       [90628.48 ],
       [83106.59 ],
       [74194.695],
       [83341.63 ],
       [81744.86 ],
       [92978.86 ],
       [83289.69 ],
       [71925.11 ],
       [83744.695],
       [85155.266],
       [84450.15 ],
       [90158.414],
       [88277.41 ],
       [91803.31 ],
       [93683.97 ],
       [75752.72 ],
       [69380.72 ],
       [89687.625],
       [82636.52 ],
       [71966.6  ],
       [84215.12 ],
       [91333.6  ],
       [86867.19 ],
       [70984.97 ],
       [63425.42 ],
       [92038.35 ],
       [82636.52 ],
       [87102.22 ],
       [73167.31 ],
       [80453.81 ],
       [67365.4  ],
       [86800.52 ],
       [91803.31 ],
       [79346.49 ],
       [82099.44 ],
       [91803.31 ],
       [67316.375],
       [93333.61 ],
       [88512.805],
       [66974.15 ],
       [93361.516],
       [74844.87 ],
       [66289.68 ],
       [92508.42 ],
       [86632.14 ],
       [87102.57 ],
       [74342.5  ],
       [84516.82 ],
       [93919.   ],
       [77450.07 ],
       [86095.414],
       [68525.15 ],
       [79520.266],
       [66974.15 ],
       [92743.45 ],
       [88747.836],
       [86028.76 ],
       [83341.63 ],
       [85692.   ],
       [79984.1  ],
       [77635.31 ],
       [88277.766],
       [78490.91 ],
       [84215.12 ],
       [69894.06 ],
       [76255.445],
       [81573.74 ],
       [63883.113],
       [78662.016],
       [77450.07 ],
       [67233.766],
       [72137.71 ],
       [82401.48 ],
       [71282.13 ],
       [64638.26 ],
       [84449.8  ],
       [85927.39 ],
       [85112.24 ],
       [96911.09 ],
       [71925.11 ],
       [85692.   ],
       [83039.58 ],
       [89921.94 ],
       [75742.09 ],
       [87807.33 ],
       [96856.1  ],