# Name: Thiago de Oliveira da Costa StId: 2020005

### GitHub: https://github.com/ThBrasilDaCosta/CA2-ML-Neural-Semantic

### Project: ML - Neural Networks & Semantic Analysis

##### Importing necessary start libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Loading CSV file:

In [2]:
bank_records = pd.read_csv('BankRecords.csv')

#### Data Understanding:

In [3]:
bank_records.shape

(5000, 14)

In [4]:
bank_records.dtypes

ID                         int64
Age                        int64
Experience(Years)          int64
Income(Thousands's)        int64
Sort Code                  int64
Family                     int64
Credit Score             float64
Education                 object
Mortgage(Thousands's)      int64
Personal Loan             object
Securities Account        object
CD Account                object
Online Banking            object
CreditCard                object
dtype: object

In [5]:
bank_records.describe()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Mortgage(Thousands's)
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937913,56.498800
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747666,101.713802
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,101.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,635.000000

In [6]:
bank_records.head()

,ID,Age,Experience(Years),Income(Thousands's),Sort Code,Family,Credit Score,Education,Mortgage(Thousands's),Personal Loan,Securities Account,CD Account,Online Banking,CreditCard
0,1,25,1,49,91107,4,1.6,Diploma,0,No,Yes,No,No,No
1,2,45,19,34,90089,3,1.5,Diploma,0,No,Yes,No,No,No
2,3,39,15,11,94720,1,1.0,Diploma,0,No,No,No,No,No
3,4,35,9,100,94112,1,2.7,Degree,0,No,No,No,No,No
4,5,35,8,45,91330,4,1.0,Degree,0,No,No,No,No,Yes

In [7]:
bank_records.isna().sum()

ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

In [8]:
bank_records.loc[bank_records.duplicated()]

Empty DataFrame
Columns: [ID, Age, Experience(Years), Income(Thousands's), Sort Code, Family, Credit Score, Education, Mortgage(Thousands's), Personal Loan, Securities Account, CD Account, Online Banking, CreditCard]
Index: []

In [9]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands's)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

#### Data Transformation / Feature Engineering:

In [10]:
bank_records = bank_records.rename(columns={"Income(Thousands's)": "Income(Thousands)", "Mortgage(Thousands's)":"Mortgage(Thousands)"})

In [11]:
bank_records.columns

Index(['ID', 'Age', 'Experience(Years)', 'Income(Thousands)', 'Sort Code',
       'Family', 'Credit Score', 'Education', 'Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'],
      dtype='object')

In [12]:
bank_records = bank_records.drop(['ID', 'Sort Code',
       'Family', 'Credit Score','Mortgage(Thousands)',
       'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking',
       'CreditCard'], axis = 1).copy()

In [13]:
bank_records

      Age  Experience(Years)  Income(Thousands) Education
0      25                  1                 49   Diploma
1      45                 19                 34   Diploma
2      39                 15                 11   Diploma
3      35                  9                100    Degree
4      35                  8                 45    Degree
...   ...                ...                ...       ...
4995   29                  3                 40   Masters
4996   30                  4                 15   Diploma
4997   63                 39                 24   Masters
4998   65                 40                 49    Degree
4999   28                  4                 83   Diploma

[5000 rows x 4 columns]

In [14]:
bank_records['Education'].unique()

array(['Diploma', 'Degree', 'Masters'], dtype=object)

In [15]:
oe = ['Diploma', 'Degree', 'Masters']

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oenc = OrdinalEncoder(categories = [oe])

In [18]:
bank_records['Education'] = oenc.fit_transform(bank_records[['Education']])

In [19]:
bank_records

      Age  Experience(Years)  Income(Thousands)  Education
0      25                  1                 49        0.0
1      45                 19                 34        0.0
2      39                 15                 11        0.0
3      35                  9                100        1.0
4      35                  8                 45        1.0
...   ...                ...                ...        ...
4995   29                  3                 40        2.0
4996   30                  4                 15        0.0
4997   63                 39                 24        2.0
4998   65                 40                 49        1.0
4999   28                  4                 83        0.0

[5000 rows x 4 columns]

In [20]:
bank_records['Age'].unique()

array([25, 45, 39, 35, 37, 53, 50, 34, 65, 29, 48, 59, 67, 60, 38, 42, 46,
       55, 56, 57, 44, 36, 43, 40, 30, 31, 51, 32, 61, 41, 28, 49, 47, 62,
       58, 54, 33, 27, 66, 24, 52, 26, 64, 63, 23], dtype=int64)

In [21]:
bank_records['Experience(Years)'].unique()

array([ 1, 19, 15,  9,  8, 13, 27, 24, 10, 39,  5, 23, 32, 41, 30, 14, 18,
       21, 28, 31, 11, 16, 20, 35,  6, 25,  7, 12, 26, 37, 17,  2, 36, 29,
        3, 22, -1, 34,  0, 38, 40, 33,  4, -2, 42, -3, 43], dtype=int64)

In [22]:
bank_records['Income(Thousands)'].unique()

array([ 49,  34,  11, 100,  45,  29,  72,  22,  81, 180, 105, 114,  40,
       112, 130, 193,  21,  25,  63,  62,  43, 152,  83, 158,  48, 119,
        35,  41,  18,  50, 121,  71, 141,  80,  84,  60, 132, 104,  52,
       194,   8, 131, 190,  44, 139,  93, 188,  39, 125,  32,  20, 115,
        69,  85, 135,  12, 133,  19,  82, 109,  42,  78,  51, 113, 118,
        64, 161,  94,  15,  74,  30,  38,   9,  92,  61,  73,  70, 149,
        98, 128,  31,  58,  54, 124, 163,  24,  79, 134,  23,  13, 138,
       171, 168,  65,  10, 148, 159, 169, 144, 165,  59,  68,  91, 172,
        55, 155,  53,  89,  28,  75, 170, 120,  99, 111,  33, 129, 122,
       150, 195, 110, 101, 191, 140, 153, 173, 174,  90, 179, 145, 200,
       183, 182,  88, 160, 205, 164,  14, 175, 103, 108, 185, 204, 154,
       102, 192, 202, 162, 142,  95, 184, 181, 143, 123, 178, 198, 201,
       203, 189, 151, 199, 224, 218], dtype=int64)

In [23]:
bank_records['Education'].unique()

array([0., 1., 2.])

#### Splitting Dataset / Modelling:

##### Splitting:

In [24]:
indpt_feat = bank_records.drop('Income(Thousands)', axis = 'columns')
dpt_feat = bank_records['Income(Thousands)']

X = indpt_feat
y = dpt_feat

In [25]:
X

      Age  Experience(Years)  Education
0      25                  1        0.0
1      45                 19        0.0
2      39                 15        0.0
3      35                  9        1.0
4      35                  8        1.0
...   ...                ...        ...
4995   29                  3        2.0
4996   30                  4        0.0
4997   63                 39        2.0
4998   65                 40        1.0
4999   28                  4        0.0

[5000 rows x 3 columns]

In [26]:
y

0        49
1        34
2        11
3       100
4        45
       ...
4995     40
4996     15
4997     24
4998     49
4999     83
Name: Income(Thousands), Length: 5000, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=17, test_size=0.2)

In [29]:
X_train.shape

(4000, 3)

In [30]:
X_test.shape

(1000, 3)

In [31]:
y_train.shape

(4000,)

In [32]:
y_test.shape

(1000,)

##### Modelling:

###### Scalling:

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [35]:
X_train = X_train_scaled
X_test = X_test_scaled

In [36]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [37]:
model = Sequential()
model.add(Dense(64, activation= 'relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation= 'relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])

#early_stopping = EarlyStopping(patience=5)

model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=32, verbose=2)

Epoch 1/100

C:\Users\thiag\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

100/100 - 2s - 16ms/step - accuracy: 0.0000e+00 - loss: 7345.7456 - mae: 72.0232 - val_accuracy: 0.0000e+00 - val_loss: 6272.8286 - val_mae: 65.4499
Epoch 2/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 5196.9834 - mae: 56.0172 - val_accuracy: 0.0000e+00 - val_loss: 3107.5071 - val_mae: 41.6069
Epoch 3/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2616.3979 - mae: 38.8939 - val_accuracy: 0.0000e+00 - val_loss: 2154.2573 - val_mae: 36.8961
Epoch 4/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2254.0706 - mae: 37.6968 - val_accuracy: 0.0000e+00 - val_loss: 2060.5188 - val_mae: 36.2483
Epoch 5/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2171.8708 - mae: 37.1974 - val_accuracy: 0.0000e+00 - val_loss: 2003.4022 - val_mae: 35.8211
Epoch 6/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2124.0183 - mae: 36.9278 - val_accuracy: 0.0000e+00 - val_loss: 1972.1646 - val_mae: 35.5706
Epoch 7/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2095.5188 - mae: 36.6704 - val_accuracy: 0.0000e+00 - val_loss: 1948.2816 - val_mae: 35.3823
Epoch 8/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2080.5452 - mae: 36.6426 - val_accuracy: 0.0000e+00 - val_loss: 1941.1835 - val_mae: 35.3177
Epoch 9/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2071.1423 - mae: 36.5863 - val_accuracy: 0.0000e+00 - val_loss: 1927.9196 - val_mae: 35.0821
Epoch 10/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2066.0298 - mae: 36.5095 - val_accuracy: 0.0000e+00 - val_loss: 1919.7058 - val_mae: 34.9716
Epoch 11/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2058.8896 - mae: 36.4747 - val_accuracy: 0.0000e+00 - val_loss: 1925.0146 - val_mae: 35.1858
Epoch 12/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2058.5974 - mae: 36.3992 - val_accuracy: 0.0000e+00 - val_loss: 1931.2628 - val_mae: 35.4656
Epoch 13/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2055.4375 - mae: 36.4409 - val_accuracy: 0.0000e+00 - val_loss: 1928.4454 - val_mae: 35.3568
Epoch 14/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2052.7334 - mae: 36.5340 - val_accuracy: 0.0000e+00 - val_loss: 1912.5864 - val_mae: 34.9241
Epoch 15/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2050.4697 - mae: 36.3923 - val_accuracy: 0.0000e+00 - val_loss: 1911.3672 - val_mae: 34.9169
Epoch 16/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2049.7485 - mae: 36.3914 - val_accuracy: 0.0000e+00 - val_loss: 1915.4742 - val_mae: 35.0233
Epoch 17/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2047.1495 - mae: 36.4006 - val_accuracy: 0.0000e+00 - val_loss: 1914.7400 - val_mae: 35.0500
Epoch 18/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2047.3378 - mae: 36.3923 - val_accuracy: 0.0000e+00 - val_loss: 1912.3550 - val_mae: 34.8193
Epoch 19/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2044.2399 - mae: 36.3058 - val_accuracy: 0.0000e+00 - val_loss: 1915.5250 - val_mae: 35.1295
Epoch 20/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2044.3657 - mae: 36.2985 - val_accuracy: 0.0000e+00 - val_loss: 1916.4126 - val_mae: 35.2590
Epoch 21/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2042.9458 - mae: 36.4921 - val_accuracy: 0.0000e+00 - val_loss: 1905.5000 - val_mae: 34.7814
Epoch 22/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2043.8918 - mae: 36.2189 - val_accuracy: 0.0000e+00 - val_loss: 1905.9712 - val_mae: 34.9066
Epoch 23/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2042.5630 - mae: 36.3881 - val_accuracy: 0.0000e+00 - val_loss: 1913.3566 - val_mae: 35.1789
Epoch 24/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2041.2371 - mae: 36.3489 - val_accuracy: 0.0000e+00 - val_loss: 1913.5930 - val_mae: 35.1443
Epoch 25/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2042.8082 - mae: 36.3539 - val_accuracy: 0.0000e+00 - val_loss: 1909.0962 - val_mae: 34.9910
Epoch 26/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2040.8448 - mae: 36.3452 - val_accuracy: 0.0000e+00 - val_loss: 1909.2314 - val_mae: 35.0126
Epoch 27/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2040.4396 - mae: 36.2633 - val_accuracy: 0.0000e+00 - val_loss: 1910.0074 - val_mae: 35.1033
Epoch 28/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.8224 - mae: 36.4014 - val_accuracy: 0.0000e+00 - val_loss: 1913.9247 - val_mae: 34.9333
Epoch 29/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2041.3040 - mae: 36.3357 - val_accuracy: 0.0000e+00 - val_loss: 1908.0270 - val_mae: 35.0419
Epoch 30/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2039.3199 - mae: 36.3377 - val_accuracy: 0.0000e+00 - val_loss: 1910.5668 - val_mae: 35.0229
Epoch 31/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2039.6416 - mae: 36.3422 - val_accuracy: 0.0000e+00 - val_loss: 1908.6249 - val_mae: 34.9439
Epoch 32/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.4274 - mae: 36.3246 - val_accuracy: 0.0000e+00 - val_loss: 1904.9626 - val_mae: 34.7601
Epoch 33/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.6514 - mae: 36.2761 - val_accuracy: 0.0000e+00 - val_loss: 1906.7303 - val_mae: 34.8874
Epoch 34/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2036.6880 - mae: 36.2482 - val_accuracy: 0.0000e+00 - val_loss: 1916.6395 - val_mae: 35.1893
Epoch 35/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2039.2950 - mae: 36.3190 - val_accuracy: 0.0000e+00 - val_loss: 1908.4180 - val_mae: 35.0023
Epoch 36/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.9761 - mae: 36.3000 - val_accuracy: 0.0000e+00 - val_loss: 1903.2694 - val_mae: 34.8029
Epoch 37/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.4459 - mae: 36.3353 - val_accuracy: 0.0000e+00 - val_loss: 1921.5525 - val_mae: 35.2523
Epoch 38/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2039.5939 - mae: 36.2911 - val_accuracy: 0.0000e+00 - val_loss: 1919.2926 - val_mae: 35.4048
Epoch 39/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2039.7087 - mae: 36.4244 - val_accuracy: 0.0000e+00 - val_loss: 1903.6238 - val_mae: 34.6997
Epoch 40/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.4042 - mae: 36.2138 - val_accuracy: 0.0000e+00 - val_loss: 1908.9027 - val_mae: 35.1143
Epoch 41/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2036.8293 - mae: 36.2915 - val_accuracy: 0.0000e+00 - val_loss: 1907.7288 - val_mae: 34.9686
Epoch 42/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2037.9543 - mae: 36.3249 - val_accuracy: 0.0000e+00 - val_loss: 1909.1166 - val_mae: 35.0241
Epoch 43/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2036.7147 - mae: 36.3275 - val_accuracy: 0.0000e+00 - val_loss: 1907.5685 - val_mae: 34.8815
Epoch 44/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2037.6458 - mae: 36.2308 - val_accuracy: 0.0000e+00 - val_loss: 1904.4019 - val_mae: 34.7841
Epoch 45/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2036.3304 - mae: 36.3313 - val_accuracy: 0.0000e+00 - val_loss: 1906.5522 - val_mae: 34.8450
Epoch 46/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2038.6217 - mae: 36.2734 - val_accuracy: 0.0000e+00 - val_loss: 1910.8617 - val_mae: 35.0568
Epoch 47/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2035.5305 - mae: 36.3142 - val_accuracy: 0.0000e+00 - val_loss: 1908.6659 - val_mae: 34.9636
Epoch 48/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2036.6737 - mae: 36.2590 - val_accuracy: 0.0000e+00 - val_loss: 1903.4829 - val_mae: 34.9065
Epoch 49/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2037.2791 - mae: 36.3510 - val_accuracy: 0.0000e+00 - val_loss: 1904.4086 - val_mae: 34.7051
Epoch 50/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2034.6819 - mae: 36.1695 - val_accuracy: 0.0000e+00 - val_loss: 1914.7544 - val_mae: 35.2408
Epoch 51/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2034.9547 - mae: 36.3516 - val_accuracy: 0.0000e+00 - val_loss: 1907.5598 - val_mae: 34.9854
Epoch 52/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2032.7532 - mae: 36.2877 - val_accuracy: 0.0000e+00 - val_loss: 1903.0359 - val_mae: 34.7684
Epoch 53/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2035.8192 - mae: 36.2162 - val_accuracy: 0.0000e+00 - val_loss: 1905.3000 - val_mae: 34.8083
Epoch 54/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2036.5914 - mae: 36.3101 - val_accuracy: 0.0000e+00 - val_loss: 1909.8988 - val_mae: 34.9579
Epoch 55/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.0543 - mae: 36.2358 - val_accuracy: 0.0000e+00 - val_loss: 1905.4039 - val_mae: 34.9437
Epoch 56/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.9844 - mae: 36.2672 - val_accuracy: 0.0000e+00 - val_loss: 1904.0000 - val_mae: 34.9099
Epoch 57/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2035.7284 - mae: 36.2280 - val_accuracy: 0.0000e+00 - val_loss: 1908.9307 - val_mae: 34.9967
Epoch 58/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.6111 - mae: 36.2711 - val_accuracy: 0.0000e+00 - val_loss: 1906.1311 - val_mae: 34.9902
Epoch 59/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.0331 - mae: 36.2583 - val_accuracy: 0.0000e+00 - val_loss: 1904.8838 - val_mae: 34.8841
Epoch 60/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2032.6023 - mae: 36.2831 - val_accuracy: 0.0000e+00 - val_loss: 1907.9918 - val_mae: 34.9934
Epoch 61/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2032.2974 - mae: 36.1844 - val_accuracy: 0.0000e+00 - val_loss: 1907.0691 - val_mae: 35.0370
Epoch 62/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2032.6661 - mae: 36.3565 - val_accuracy: 0.0000e+00 - val_loss: 1902.1696 - val_mae: 34.5722
Epoch 63/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2032.8595 - mae: 36.1574 - val_accuracy: 0.0000e+00 - val_loss: 1905.0608 - val_mae: 34.9581
Epoch 64/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2034.2733 - mae: 36.3302 - val_accuracy: 0.0000e+00 - val_loss: 1904.2043 - val_mae: 34.8384
Epoch 65/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2033.7928 - mae: 36.2152 - val_accuracy: 0.0000e+00 - val_loss: 1913.2625 - val_mae: 35.1046
Epoch 66/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2032.1222 - mae: 36.2757 - val_accuracy: 0.0000e+00 - val_loss: 1898.3834 - val_mae: 34.5901
Epoch 67/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.8824 - mae: 36.1679 - val_accuracy: 0.0000e+00 - val_loss: 1920.1254 - val_mae: 35.2068
Epoch 68/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.7555 - mae: 36.2833 - val_accuracy: 0.0000e+00 - val_loss: 1900.3977 - val_mae: 34.7770
Epoch 69/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2033.2618 - mae: 36.2939 - val_accuracy: 0.0000e+00 - val_loss: 1900.7672 - val_mae: 34.8264
Epoch 70/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2030.7019 - mae: 36.1773 - val_accuracy: 0.0000e+00 - val_loss: 1906.2379 - val_mae: 34.9325
Epoch 71/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.3207 - mae: 36.2425 - val_accuracy: 0.0000e+00 - val_loss: 1906.4106 - val_mae: 34.9726
Epoch 72/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2032.4550 - mae: 36.2180 - val_accuracy: 0.0000e+00 - val_loss: 1907.7393 - val_mae: 34.9952
Epoch 73/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2031.3230 - mae: 36.2593 - val_accuracy: 0.0000e+00 - val_loss: 1912.2048 - val_mae: 35.0003
Epoch 74/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.7532 - mae: 36.2178 - val_accuracy: 0.0000e+00 - val_loss: 1908.9058 - val_mae: 35.0798
Epoch 75/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2032.6311 - mae: 36.1961 - val_accuracy: 0.0000e+00 - val_loss: 1905.6775 - val_mae: 34.9849
Epoch 76/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2031.3910 - mae: 36.3104 - val_accuracy: 0.0000e+00 - val_loss: 1908.2976 - val_mae: 35.0284
Epoch 77/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2035.7343 - mae: 36.2111 - val_accuracy: 0.0000e+00 - val_loss: 1907.4583 - val_mae: 35.0504
Epoch 78/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2031.6178 - mae: 36.2809 - val_accuracy: 0.0000e+00 - val_loss: 1912.5944 - val_mae: 35.1910
Epoch 79/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.0973 - mae: 36.2302 - val_accuracy: 0.0000e+00 - val_loss: 1901.8024 - val_mae: 34.7690
Epoch 80/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2031.0973 - mae: 36.2364 - val_accuracy: 0.0000e+00 - val_loss: 1901.8510 - val_mae: 34.8671
Epoch 81/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2031.0219 - mae: 36.2498 - val_accuracy: 0.0000e+00 - val_loss: 1908.8594 - val_mae: 34.8574
Epoch 82/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2031.7050 - mae: 36.1737 - val_accuracy: 0.0000e+00 - val_loss: 1904.7510 - val_mae: 34.9842
Epoch 83/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2031.0094 - mae: 36.2869 - val_accuracy: 0.0000e+00 - val_loss: 1900.0897 - val_mae: 34.7653
Epoch 84/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2030.6658 - mae: 36.2508 - val_accuracy: 0.0000e+00 - val_loss: 1904.6257 - val_mae: 34.8714
Epoch 85/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2031.5562 - mae: 36.1820 - val_accuracy: 0.0000e+00 - val_loss: 1905.8673 - val_mae: 34.9643
Epoch 86/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.9058 - mae: 36.2814 - val_accuracy: 0.0000e+00 - val_loss: 1904.0546 - val_mae: 34.9195
Epoch 87/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.0063 - mae: 36.1785 - val_accuracy: 0.0000e+00 - val_loss: 1904.4469 - val_mae: 34.9839
Epoch 88/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2031.3645 - mae: 36.2513 - val_accuracy: 0.0000e+00 - val_loss: 1907.6595 - val_mae: 34.9073
Epoch 89/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.6167 - mae: 36.2077 - val_accuracy: 0.0000e+00 - val_loss: 1901.7794 - val_mae: 34.8006
Epoch 90/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2030.7529 - mae: 36.2229 - val_accuracy: 0.0000e+00 - val_loss: 1919.4636 - val_mae: 35.2626
Epoch 91/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2033.9653 - mae: 36.2125 - val_accuracy: 0.0000e+00 - val_loss: 1921.4301 - val_mae: 35.1180
Epoch 92/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2028.2539 - mae: 36.2911 - val_accuracy: 0.0000e+00 - val_loss: 1902.6985 - val_mae: 34.6031
Epoch 93/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.7874 - mae: 36.1766 - val_accuracy: 0.0000e+00 - val_loss: 1907.8064 - val_mae: 35.0644
Epoch 94/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2027.5286 - mae: 36.2639 - val_accuracy: 0.0000e+00 - val_loss: 1903.3423 - val_mae: 34.5575
Epoch 95/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.7640 - mae: 36.1931 - val_accuracy: 0.0000e+00 - val_loss: 1904.8022 - val_mae: 34.9229
Epoch 96/100
100/100 - 0s - 1ms/step - accuracy: 0.0000e+00 - loss: 2027.8933 - mae: 36.1573 - val_accuracy: 0.0000e+00 - val_loss: 1901.2582 - val_mae: 34.8167
Epoch 97/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.1483 - mae: 36.2266 - val_accuracy: 0.0000e+00 - val_loss: 1901.1183 - val_mae: 34.6795
Epoch 98/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.2301 - mae: 36.1754 - val_accuracy: 0.0000e+00 - val_loss: 1905.3408 - val_mae: 34.9823
Epoch 99/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2029.6089 - mae: 36.2464 - val_accuracy: 0.0000e+00 - val_loss: 1906.6447 - val_mae: 34.9755
Epoch 100/100
100/100 - 0s - 2ms/step - accuracy: 0.0000e+00 - loss: 2030.3203 - mae: 36.2198 - val_accuracy: 0.0000e+00 - val_loss: 1901.4197 - val_mae: 34.6748

In [38]:

input_feat = np.array([[30, 5, 2.0]])
predicted_income = model.predict(input_feat.reshape(1,3), batch_size=1)
print(predicted_income)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 57ms/step
[[262.50983]]

In [39]:
y_pred = model.predict(X_test)*1000

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [40]:
y_pred

array([[64370.277],
       [61657.633],
       [62802.402],
       [63952.902],
       [86785.97 ],
       [87322.28 ],
       [79995.39 ],
       [61657.633],
       [63233.035],
       [64690.55 ],
       [77336.27 ],
       [64774.75 ],
       [63606.875],
       [63952.902],
       [68234.375],
       [63893.812],
       [76212.766],
       [59596.137],
       [73874.19 ],
       [75233.586],
       [59326.816],
       [64563.234],
       [67053.516],
       [66192.195],
       [64250.816],
       [64774.75 ],
       [64635.95 ],
       [64413.543],
       [68766.48 ],
       [79995.39 ],
       [77201.734],
       [73874.19 ],
       [66667.984],
       [64146.707],
       [66989.05 ],
       [60781.547],
       [67661.27 ],
       [58929.402],
       [75223.82 ],
       [63161.58 ],
       [90161.24 ],
       [64783.875],
       [63249.152],
       [78731.72 ],
       [87731.34 ],
       [77966.72 ],
       [63392.695],
       [69307.07 ],
       [64676.164],
       [88025.85 ],
       [65528.9  ],
       [76212.766],
       [64038.984],
       [88614.945],
       [62043.844],
       [64791.406],
       [87217.92 ],
       [89572.625],
       [64635.95 ],
       [74639.17 ],
       [68227.68 ],
       [64480.27 ],
       [63152.58 ],
       [88940.33 ],
       [62934.36 ],
       [63233.035],
       [62252.477],
       [62553.004],
       [67573.96 ],
       [63479.36 ],
       [64690.55 ],
       [73758.11 ],
       [87861.63 ],
       [62043.844],
       [68368.97 ],
       [74054.52 ],
       [65840.84 ],
       [74278.484],
       [66570.31 ],
       [63233.035],
       [63793.47 ],
       [65819.75 ],
       [90700.586],
       [65636.48 ],
       [68227.68 ],
       [65819.75 ],
       [59596.137],
       [63617.254],
       [89764.1  ],
       [65024.895],
       [62553.004],
       [68225.89 ],
       [63436.363],
       [75739.11 ],
       [63575.53 ],
       [65753.86 ],
       [90842.8  ],
       [90493.27 ],
       [63769.332],
       [88685.41 ],
       [67041.81 ],
       [63408.617],
       [63584.066],
       [87706.6  ],
       [66635.87 ],
       [69704.58 ],
       [64650.758],
       [58889.562],
       [89621.9  ],
       [86782.94 ],
       [87424.45 ],
       [63401.82 ],
       [63853.316],
       [63715.844],
       [86798.34 ],
       [61115.766],
       [78147.06 ],
       [64791.406],
       [63931.27 ],
       [90493.27 ],
       [63483.348],
       [66381.43 ],
       [85392.47 ],
       [69163.984],
       [69163.984],
       [69418.414],
       [60608.55 ],
       [60923.38 ],
       [58440.45 ],
       [64172.125],
       [59454.89 ],
       [64272.887],
       [86440.35 ],
       [67053.516],
       [65024.895],
       [67369.71 ],
       [87003.7  ],
       [64038.984],
       [75233.586],
       [86925.15 ],
       [65020.355],
       [63893.812],
       [64621.613],
       [65384.734],
       [76212.766],
       [58440.45 ],
       [66381.43 ],
       [63761.02 ],
       [62802.402],
       [67033.37 ],
       [62472.54 ],
       [63295.04 ],
       [62184.992],
       [90226.18 ],
       [89547.88 ],
       [66238.36 ],
       [64220.96 ],
       [63421.574],
       [69020.9  ],
       [65868.586],
       [66922.03 ],
       [81606.625],
       [63217.17 ],
       [62191.145],
       [64146.707],
       [67467.375],
       [63627.543],
       [64370.277],
       [65840.84 ],
       [75628.125],
       [84305.17 ],
       [58386.965],
       [81082.69 ],
       [65868.59 ],
       [64365.195],
       [64220.96 ],
       [58753.19 ],
       [64029.867],
       [62592.145],
       [63893.812],
       [64871.004],
       [60189.137],
       [89265.75 ],
       [88400.984],
       [90186.375],
       [86479.08 ],
       [86785.97 ],
       [62188.87 ],
       [89621.9  ],
       [85916.4  ],
       [75223.82 ],
       [86798.336],
       [89560.26 ],
       [87731.34 ],
       [65205.613],
       [63584.066],
       [64891.586],
       [65868.59 ],
       [85392.47 ],
       [63608.137],
       [74034.76 ],
       [61657.633],
       [63479.36 ],
       [62970.96 ],
       [63606.875],
       [63922.152],
       [63725.676],
       [64559.33 ],
       [90186.375],
       [58753.19 ],
       [76393.11 ],
       [87003.7  ],
       [63073.156],
       [66619.16 ],
       [73206.31 ],
       [65759.586],
       [86479.08 ],
       [65614.164],
       [59418.355],
       [60781.547],
       [64413.543],
       [90303.45 ],
       [84829.1  ],
       [59749.496],
       [61940.13 ],
       [86256.67 ],
       [63627.543],
       [76977.75 ],
       [65759.586],
       [63258.715],
       [67430.87 ],
       [63152.58 ],
       [91921.49 ],
       [67828.38 ],
       [58440.45 ],
       [87424.45 ],
       [65015.906],
       [64460.723],
       [64783.875],
       [64676.82 ],
       [87606.7  ],
       [64254.418],
       [90174.01 ],
       [75223.82 ],
       [60330.38 ],
       [87003.7  ],
       [86925.15 ],
       [86256.67 ],
       [69163.984],
       [65729.51 ],
       [89224.75 ],
       [64172.125],
       [63366.9  ],
       [78947.516],
       [58929.395],
       [64137.582],
       [65015.906],
       [73844.836],
       [73693.84 ],
       [89082.54 ],
       [86798.34 ],
       [59627.91 ],
       [74278.484],
       [63575.53 ],
       [89879.5  ],
       [63761.426],
       [60781.547],
       [89572.625],
       [67971.46 ],
       [63853.316],
       [63284.99 ],
       [62252.477],
       [87105.21 ],
       [88400.984],
       [64676.82 ],
       [65443.344],
       [65983.92 ],
       [86479.08 ],
       [87527.65 ],
       [68234.375],
       [88651.98 ],
       [74703.94 ],
       [65188.918],
       [87718.98 ],
       [61192.195],
       [86256.67 ],
       [60781.547],
       [88332.734],
       [63217.17 ],
       [62455.08 ],
       [62852.785],
       [63436.363],
       [64417.816],
       [88685.41 ],
       [88946.49 ],
       [88614.945],
       [63295.04 ],
       [88934.125],
       [87092.84 ],
       [67828.38 ],
       [63177.273],
       [64413.543],
       [64458.383],
       [62191.145],
       [61657.633],
       [63392.695],
       [89241.01 ],
       [64648.324],
       [60522.125],
       [88639.62 ],
       [63853.316],
       [64413.543],
       [63484.664],
       [64563.234],
       [74054.52 ],
       [78147.06 ],
       [75223.82 ],
       [73206.31 ],
       [63176.49 ],
       [64559.33 ],
       [65069.184],
       [68227.68 ],
       [62092.29 ],
       [66383.86 ],
       [64278.242],
       [60522.125],
       [62092.29 ],
       [89560.26 ],
       [63152.58 ],
       [64172.125],
       [63479.36 ],
       [65614.164],
       [86440.35 ],
       [63073.156],
       [65421.035],
       [78551.375],
       [63152.58 ],
       [64490.523],
       [63996.37 ],
       [63575.53 ],
       [90186.375],
       [64068.336],
       [88332.734],
       [62852.785],
       [65313.332],
       [62883.48 ],
       [64559.33 ],
       [65384.734],
       [88685.41 ],
       [87003.7  ],
       [64635.94 ],
       [64417.816],
       [79995.39 ],
       [63916.453],
       [65313.332],
       [62533.125],
       [67661.27 ],
       [66238.36 ],
       [63063.664],
       [62432.387],
       [63931.27 ],
       [63233.035],
       [64650.758],
       [65770.92 ],
       [87399.72 ],
       [66439.9  ],
       [61940.13 ],
       [58440.45 ],
       [63761.426],
       [86256.67 ],
       [76032.44 ],
       [62085.496],
       [73326.77 ],
       [60213.   ],
       [63152.58 ],
       [59596.137],
       [76798.44 ],
       [66524.52 ],
       [77336.27 ],
       [64774.75 ],
       [67003.01 ],
       [82169.984],
       [90226.18 ],
       [61619.65 ],
       [88651.98 ],
       [63484.664],
       [63341.145],
       [90303.45 ],
       [65868.59 ],
       [61657.633],
       [76797.43 ],
       [90186.375],
       [63177.273],
       [67655.43 ],
       [65528.76 ],
       [64152.29 ],
       [77860.21 ],
       [89572.625],
       [58855.44 ],
       [65614.164],
       [58889.562],
       [74278.484],
       [62553.004],
       [76212.766],
       [88543.195],
       [64891.586],
       [62085.496],
       [60213.   ],
       [88958.86 ],
       [69561.49 ],
       [68512.055],
       [90186.375],
       [78384.15 ],
       [90226.18 ],
       [76977.76 ],
       [63484.668],
       [87464.5  ],
       [77336.27 ],
       [59418.355],
       [75233.586],
       [89241.01 ],
       [73219.94 ],
       [85392.47 ],
       [61789.684],
       [79995.39 ],
       [74034.76 ],
       [90303.45 ],
       [89879.5  ],
       [58557.03 ],
       [65020.355],
       [88003.84 ],
       [87105.21 ],
       [59454.89 ],
       [89621.9  ],
       [76032.44 ],
       [86440.35 ],
       [66439.9  ],
       [74054.52 ],
       [62553.004],
       [91382.15 ],
       [68909.56 ],
       [88946.49 ],
       [65770.92 ],
       [62934.36 ],
       [63203.6  ],
       [88685.41 ],
       [87003.7  ],
       [63295.03 ],
       [87861.63 ],
       [60213.   ],
       [64172.125],
       [62397.51 ],
       [63812.6  ],
       [66192.195],
       [90493.27 ],
       [88003.84 ],
       [62085.496],
       [89879.5  ],
       [64029.867],
       [66570.31 ],
       [60923.38 ],
       [63550.477],
       [78147.06 ],
       [77966.72 ],
       [86798.34 ],
       [59664.89 ],
       [64871.004],
       [63584.066],
       [87464.5  ],
       [90161.24 ],
       [63470.406],
       [89662.82 ],
       [65313.332],
       [63408.617],
       [73326.77 ],
       [65983.92 ],
       [64152.29 ],
       [64172.125],
       [64146.707],
       [73219.93 ],
       [91382.15 ],
       [64971.52 ],
       [68234.375],
       [65443.344],
       [63575.53 ],
       [74458.836],
       [64254.418],
       [58184.664],
       [90493.27 ],
       [73206.31 ],
       [63186.4  ],
       [61690.957],
       [76212.766],
       [73874.19 ],
       [62934.36 ],
       [63922.152],
       [86798.34 ],
       [68623.4  ],
       [78551.375],
       [76798.44 ],
       [75447.79 ],
       [87718.98 ],
       [87105.21 ],
       [73206.31 ],
       [83217.875],
       [78388.37 ],
       [74458.836],
       [64563.234],
       [62944.324],
       [77966.72 ],
       [76268.766],
       [89572.62 ],
       [64490.523],
       [58821.99 ],
       [64718.07 ],
       [58753.19 ],
       [82693.92 ],
       [67418.53 ],
       [67467.375],
       [64220.96 ],
       [65205.613],
       [62472.54 ],
       [67971.46 ],
       [64791.406],
       [89662.82 ],
       [60637.355],
       [65686.875],
       [67717.03 ],
       [77966.72 ],
       [84829.1  ],
       [64075.996],
       [63627.543],
       [83781.22 ],
       [89253.375],
       [88038.23 ],
       [77382.06 ],
       [64990.18 ],
       [86798.34 ],
       [78947.516],
       [63761.02 ],
       [63893.812],
       [62397.51 ],
       [64988.848],
       [74458.83 ],
       [58557.03 ],
       [64891.586],
       [67041.81 ],
       [63421.574],
       [60189.137],
       [65586.42 ],
       [68251.49 ],
       [62533.125],
       [76797.43 ],
       [64146.707],
       [83217.875],
       [76797.43 ],
       [64137.855],
       [63575.53 ],
       [63295.04 ],
       [63348.668],
       [75808.47 ],
       [73219.94 ],
       [90161.24 ],
       [68169.11 ],
       [88051.586],
       [64621.613],
       [61064.625],
       [65868.59 ],
       [63952.902],
       [74034.76 ],
       [65205.613],
       [78947.516],
       [82169.984],
       [74394.21 ],
       [62252.473],
       [65528.89 ],
       [64353.01 ],
       [88400.984],
       [64939.957],
       [63853.316],
       [66524.52 ],
       [61798.875],
       [66922.03 ],
       [63575.53 ],
       [76977.75 ],
       [80558.76 ],
       [88958.86 ],
       [91239.94 ],
       [75808.47 ],
       [65686.875],
       [58855.44 ],
       [88038.23 ],
       [58889.562],
       [65104.86 ],
       [62913.516],
       [64254.418],
       [64667.04 ],
       [67717.03 ],
       [89138.88 ],
       [89241.01 ],
       [64939.957],
       [87464.5  ],
       [90174.01 ],
       [66439.9  ],
       [87322.28 ],
       [65636.48 ],
       [76032.43 ],
       [62092.29 ],
       [69561.49 ],
       [65443.344],
       [86782.94 ],
       [63715.844],
       [79995.39 ],
       [64321.723],
       [65729.51 ],
       [64783.875],
       [61115.766],
       [65868.59 ],
       [65013.8  ],
       [89253.375],
       [89547.88 ],
       [64791.406],
       [64939.957],
       [59749.496],
       [67003.01 ],
       [67717.03 ],
       [89224.75 ],
       [63176.49 ],
       [65188.918],
       [75233.586],
       [68169.11 ],
       [59596.137],
       [77382.06 ],
       [64038.984],
       [62092.29 ],
       [74458.836],
       [91382.15 ],
       [75223.82 ],
       [65313.324],
       [62043.848],
       [86785.97 ],
       [66451.59 ],
       [63761.02 ],
       [88934.125],
       [87464.5  ],
       [62184.992],
       [62755.53 ],
       [64278.242],
       [65069.184],
       [65868.59 ],
       [67033.37 ],
       [73206.31 ],
       [63823.56 ],
       [60507.402],
       [65614.164],
       [75447.79 ],
       [75233.586],
       [77382.06 ],
       [84305.17 ],
       [64667.04 ],
       [69020.91 ],
       [74394.21 ],
       [64882.47 ],
       [62397.51 ],
       [62718.85 ],
       [65015.906],
       [60923.38 ],
       [89224.75 ],
       [75628.125],
       [64172.125],
       [89879.5  ],
       [67430.875],
       [73874.19 ],
       [64744.78 ],
       [92497.79 ],
       [73758.11 ],
       [76212.766],
       [89764.1  ],
       [67655.43 ],
       [77966.72 ],
       [63479.36 ],
       [73206.31 ],
       [77336.27 ],
       [76798.44 ],
       [74394.21 ],
       [63931.27 ],
       [62821.78 ],
       [87718.98 ],
       [65983.92 ],
       [88051.586],
       [60522.125],
       [86479.08 ],
       [85916.4  ],
       [64137.582],
       [67717.03 ],
       [62755.53 ],
       [64417.816],
       [76798.44 ],
       [64621.613],
       [63217.17 ],
       [63483.348],
       [74863.14 ],
       [64287.438],
       [65069.184],
       [62432.387],
       [75223.82 ],
       [62892.26 ],
       [62613.95 ],
       [74394.21 ],
       [87412.09 ],
       [89764.1  ],
       [63823.56 ],
       [88038.23 ],
       [83781.22 ],
       [70897.09 ],
       [63931.27 ],
       [61205.875],
       [67622.164],
       [67661.27 ],
       [63408.617],
       [74458.836],
       [78731.72 ],
       [75628.125],
       [65342.438],
       [66039.625],
       [85916.4  ],
       [68114.55 ],
       [73206.31 ],
       [73326.77 ],
       [65097.9  ],
       [63853.316],
       [65956.375],
       [62188.87 ],
       [90226.18 ],
       [73219.93 ],
       [63996.37 ],
       [65528.9  ],
       [62718.85 ],
       [63608.137],
       [64269.797],
       [88025.85 ],
       [64365.195],
       [88934.125],
       [66381.43 ],
       [65636.48 ],
       [58386.965],
       [63952.902],
       [87464.5  ],
       [77336.27 ],
       [89547.88 ],
       [67033.37 ],
       [87003.7  ],
       [59749.496],
       [64272.887],
       [61633.055],
       [63484.664],
       [59596.137],
       [65614.164],
       [62592.145],
       [74054.52 ],
       [76212.766],
       [86925.15 ],
       [64137.855],
       [89572.625],
       [64988.85 ],
       [59664.89 ],
       [63617.254],
       [85392.47 ],
       [63853.316],
       [75447.79 ],
       [86925.15 ],
       [89138.88 ],
       [90186.375],
       [88332.734],
       [65872.086],
       [83781.22 ],
       [65313.332],
       [67033.37 ],
       [73206.31 ],
       [66383.86 ],
       [80558.76 ],
       [88320.37 ],
       [58821.99 ],
       [64321.723],
       [90303.45 ],
       [63177.273],
       [73219.94 ],
       [86440.35 ],
       [61293.44 ],
       [63173.23 ],
       [65205.613],
       [64490.523],
       [63952.902],
       [67655.43 ],
       [63484.664],
       [74394.21 ],
       [64690.55 ],
       [63348.668],
       [87105.21 ],
       [63627.547],
       [88332.734],
       [87718.98 ],
       [89572.625],
       [68114.55 ],
       [63608.137],
       [68766.48 ],
       [63500.414],
       [88958.86 ],
       [63922.152],
       [61657.633],
       [78947.516],
       [67369.71 ],
       [86440.35 ],
       [73206.31 ],
       [90186.375],
       [90226.18 ],
       [65636.48 ],
       [89253.375],
       [66127.016],
       [63470.406],
       [87399.72 ],
       [66238.36 ],
       [64370.277],
       [88958.86 ],
       [67003.01 ],
       [65686.875],
       [65586.42 ],
       [74034.76 ],
       [89662.82 ],
       [64635.95 ],
       [64250.816],
       [68263.19 ],
       [83217.875],
       [84829.1  ],
       [63161.58 ],
       [58557.03 ],
       [88332.734],
       [88651.98 ],
       [79995.39 ],
       [64744.78 ],
       [63099.11 ],
       [66148.04 ],
       [64068.336],
       [86925.15 ],
       [87706.6  ],
       [62934.36 ],
       [64413.543],
       [58889.562],
       [88614.945],
       [63793.47 ],
       [74639.17 ],
       [64621.613],
       [88946.49 ],
       [64152.29 ],
       [64272.887],
       [61115.766],
       [74458.836],
       [63715.844],
       [58889.562],
       [62821.78 ],
       [64630.89 ],
       [67430.5  ],
       [63922.152],
       [74639.17 ],
       [89879.5  ],
       [75233.586],
       [85392.47 ],
       [68512.055],
       [64220.96 ],
       [89621.9  ],
       [64370.277],
       [86440.35 ],
       [85916.4  ],
       [63366.9  ],
       [64990.18 ],
       [63793.47 ],
       [67033.37 ],
       [62092.29 ],
       [74394.21 ],
       [77336.27 ],
       [89662.82 ],
       [78947.516],
       [69418.414],
       [63761.02 ],
       [89879.5  ],
       [66381.43 ],
       [87105.21 ],
       [65015.906],
       [65821.625],
       [64137.855],
       [63575.53 ],
       [70102.086],
       [62913.516],
       [68114.55 ],
       [63479.36 ],
       [87606.7  ],
       [64250.816],
       [74394.21 ],
       [76977.75 ],
       [67971.46 ],
       [83781.22 ],
       [64480.27 ],
       [77562.41 ],
       [79995.39 ],
       [87217.92 ],
       [63996.37 ],
       [63922.152],
       [64059.97 ],
       [64882.47 ],
       [61192.195],
       [62821.78 ],
       [89241.01 ],
       [91382.15 ],
       [73219.94 ],
       [74054.52 ],
       [61789.684],
       [73844.836],
       [60608.562],
       [88051.586],
       [60481.203],
       [68225.89 ],
       [63392.695],
       [63812.6  ],
       [65528.9  ],
       [73693.84 ],
       [87731.34 ],
       [87412.09 ],
       [89241.01 ],
       [65097.9  ],
       [63152.58 ],
       [89224.75 ],
       [75223.82 ],
       [63408.617],
       [66148.04 ],
       [76798.44 ],
       [89572.625],
       [66635.87 ],
       [64278.242],
       [87105.21 ],
       [75223.82 ],
       [89265.75 ],
       [68251.49 ],
       [63922.152],
       [63258.715],
       [62970.96 ],
       [87412.09 ],
       [64563.234],
       [64146.707],
       [87412.09 ],
       [67176.45 ],
       [90161.24 ],
       [82693.92 ],
       [66381.43 ],
       [89082.54 ],
       [59627.91 ],
       [64791.406],
       [86925.15 ],
       [89879.5  ],
       [73758.11 ],
       [65821.625],
       [80558.76 ],
       [88934.125],
       [59871.402],
       [63294.105],
       [63233.035],
       [65759.586],
       [66381.43 ],
       [87464.5  ],
       [84305.17 ],
       [64473.496],
       [73844.836],
       [88614.945],
       [67053.516],
       [58386.965],
       [81082.69 ],
       [60189.137],
       [66148.04 ],
       [64250.816],
       [67661.27 ],
       [61115.766],
       [68114.55 ],
       [60923.38 ],
       [59871.402],
       [63996.37 ],
       [64417.816],
       [75808.47 ],
       [60471.63 ],
       [69704.58 ],
       [63073.156],
       [75628.125],
       [77966.72 ],
       [88940.33 ],
       [68225.89 ],
       [88614.945],
       [63715.844],
       [90303.45 ],
       [64490.523],
       [88345.11 ],
       [88400.984],